[2020-12-08 00:29] saadeghi opened #1 "Images"
[![logo](https://user-images.githubusercontent.com/7342023/101421491-a0313380-3909-11eb-8dd6-6037753af051.png)](#)

[2020-12-08 00:29] #1 closed

[2021-01-05 20:08] niklashaug opened #3 "Bug: Can't change colors (Safari, macOS)"
Hi. I recognized that changing colors is not possible in Safari but works fine in Chrome. The color picker just doesn't show up.

https://daisyui.netlify.app/core/colors

[2021-01-05 21:07] saadeghi commented on #3
Thanks @niklashaug,
It will be fixed tomorrow.

[2021-01-06 18:56] saadeghi commented on #3
Fixed on saadeghi/daisyui-demo@360148f0f436235ff1bb82f4730c53d2eb847cc8

[2021-01-06 18:56] #3 closed

[2021-01-07 03:41] saadeghi opened #4 "accordion won't focus with keyboard navigation"

[2021-01-07 10:19] #4 closed

[2021-01-16 17:21] RobertJGabriel opened #5 "Navigation Drawer/Sliding Sidebar?"
Hey Guys,

Love the UI, is there plans to add a Navigation Drawer/Sliding Sidebar component in the future?

[2021-01-16 20:02] saadeghi commented on #5
I think [menu component](https://daisyui.netlify.app/components/menu) can do the job (as I used it for the [site](https://daisyui.netlify.app/) itself)
The only challenge might be the open/close functionality. I'm trying to keep all components free of JS. In this case however, I can make a CSS only drawer (using a hidden checkbox).
I will close this issue when I add it.

Thanks.

[2021-01-16 21:40] RobertJGabriel commented on #5
Amazing, I can't wait to see it. May I ask are you looking into accessibility aswell? Labels etc

[2021-01-16 21:58] saadeghi commented on #5
@RobertJGabriel Of course! If you also find accessibility issues, I would appreciate if you report them so I can fix them faster.

[2021-01-20 17:51] saadeghi commented on #5
Drawer component added on saadeghi/daisyui@5b500cdf7220f0d774bf7ef15c0823e6ad88983c
Sample: https://daisyui.netlify.app/components/drawer
Tailwind Play: https://play.tailwindcss.com/alzQNMAFsv
@RobertJGabriel

[2021-01-20 17:51] #5 closed

[2021-01-24 11:21] kgnfth opened #6 "Disable animation ?"
How to disable animation
i dont like the animation when you click on a button

[2021-01-24 11:40] saadeghi commented on #6
@kgnfth use this CSS variable: `--animation-btn`. ([example](https://play.tailwindcss.com/FOlmhxMqCQ?file=css))
[code]
There are a few more variables to customize components as mentioned [here](https://daisyui.netlify.app/docs/add-themes).

[2021-01-24 11:40] #6 closed

[2021-01-27 19:19] atresnjo opened #7 "Theme styles not fully applied?"
Hi, first I want to say thanks for the great work; the components look great!

I wanted to play around with the components for a possible project, so I created a test app using https://www.npmjs.com/package/cra-template-tailwindcss-typescript

I followed the instructions and installed it via npm, almost everything works; but when I set a theme using data-theme the font colors don't update, and for

[2021-01-27 19:58] saadeghi commented on #7
Thanks for using DaisyUI @atresnjo
Did you add the colors to your `tailwind.config.js` file?: https://daisy.js.org/docs/config
example:
[code]
Because from what I see in your screenshot, it looks like the components are showing the right color but you can't use utility classes like `bg-content-800` or `text-content-100` directly in your HTML unless you add add `daisyui/colors`.

Please let me know

[2021-01-27 20:56] atresnjo commented on #7
Ahh. I did forget that, got it working now. Thanks! 💯

[2021-01-27 20:56] #7 closed

[2021-02-11 15:54] maxgfb opened #8 "All inputs are hidden within an accordion"
".accordion-item input" is used to hide the check box unfortunately it also hides all inputs in the body of the accordion

Could it be changed to ".accordion-item input:first-child"

[2021-02-11 17:31] saadeghi commented on #8
@maxgfb thanks for reporting this.
I'll fix this today.

[2021-02-12 00:35] #8 closed

[2021-02-12 00:36] saadeghi commented on #8
@maxgfb Fixed. please update to the latest version (0.11.4)

[2021-02-12 00:39] saadeghi commented on #6
Update: a classname `no-animation` has been added to disable animation for button and other inputs such as checkbox or toggle.

[2021-02-12 11:22] maxgfb commented on #8
Thats done the trick thanks!

[2021-02-12 15:01] kgnfth commented on #6
@saadeghi Thank you for your work

[2021-02-13 11:34] ronyfhebrian opened #9 "Adding Modal Component"
Hi @saadeghi, love your work on daisyui!

I haven't found the Modal Component, yet.
Is it on purpose since for example it'll be provided by react modal or will you add it later?

Thank you for your great work btw.

[2021-02-13 14:04] saadeghi commented on #9
Thanks @ronyfhebrian
There's no modal component yet, but I will add it until next week.

[2021-02-13 14:36] ronyfhebrian commented on #9
Thank you very much!
Looking forward to it. 🙏🏾

[2021-02-25 11:37] saadeghi commented on #9
@ronyfhebrian Modal component added (98e6fe046a36ee9e944263d4f0e913fbbf865ff2)
demo: https://daisy.js.org/components/modal/
codepen: https://codepen.io/saadeghi/pen/ZEBvMey?editors=1000

please update to latest version (0.11.5)

[2021-02-25 11:37] #9 closed

[2021-03-04 23:37] GreenDjango opened #10 "Wrap .card-actions on .card"
Hi, I work with daisy (great project btw) and I noticed better badge wrap with this:
[code]
and for the `card with badge` example:
[code]
Thank you for your time!

<img height="400px" src="https://user-images.githubusercontent.com/52924057/110044302-2f06ee00-7d49-11eb-8962-7f04673b4c5d.png"  alt="Screenshot_20210305_002227" /><img height="400px" src="https://user-images.githubusercontent.com/52924

[2021-03-05 04:29] saadeghi commented on #10
Of course. I'll fix this tomorrow 👍

[2021-03-05 18:47] #10 closed

[2021-03-05 18:57] saadeghi commented on #10
Please update to latest version `0.14.0`
I also, added margin for `card-actions` items so `space-x-2` is no longer needed.

[2021-03-05 19:01] GreenDjango commented on #10
Thanks !

[2021-03-09 10:02] jtheisen opened #11 "Disabling animation is broken"
Disabling animation doesn't work on either Firefox or Chrome, visible on [the documentation page for buttons](https://daisy.js.org/components/button) at the very bottom.

[2021-03-09 12:12] IngwiePhoenix opened #12 "Mobile: Navbar to Drawer?"
While checking out the components [here](https://saadeghi.github.io/daisyui-demo/), I noticed that the Navbar did not collapse or have any special function for a smaller viewport - as for a mobile device.

Is there a way to have a navbar that only shows a menu icon and unfolds a drawer for mobile screens but has a full and proper menu bar on tablets and desktop?

The fold-out menu that Bootstrap u

[2021-03-09 22:58] saadeghi commented on #12
Currently there's a [navbar component](https://daisy.js.org/components/navbar) and it just places items in a row using flexbox. There's also a [drawer component](https://daisy.js.org/components/drawer) which opens an off-canvas sidebar (or shows a fixes sidebar on desktop `lg` viewport if you want)

One solution might be dynamically changing the style of `navbar` items into a vertical menu and pla

[2021-03-09 23:04] saadeghi commented on #11
May I ask what version of Chrome and Firefox are you using? because It works fine for me.

[2021-03-10 11:23] saadeghi commented on #11
Thanks for the video.
I will make some changes to see if it makes a difference...

[2021-03-10 12:13] jtheisen commented on #11
I realized that what I really wanted wasn't to disable the animation but to disable the transformation (or rather replace it with one I like better such as a color change), while keeping the generic .2s transitioning.

So don't hunt this for my sake.

[2021-03-10 12:20] saadeghi commented on #11
I think it's fixed now. Can you check again please?

If you want to disable the pop effect animation, use `no-animation` class.
If you want to disable the color change on hover, you can either use a `btn-active` class to make it use the active color all the time or you can force it to use the default color on hover like this: `btn btn-primary hover:bg-primary`

[2021-03-10 12:55] jtheisen commented on #11
Works now. The mysteries of CSS.

I think what I really want is to replace the transform animation with a second type of color change animation, but I'll do that by adding some style rules in application styles.

[2021-03-10 23:29] moisesbites opened #13 "Framework components for Svelte/Sapper with daisyui"
Hello @saadeghi ,

Your UI framework is the best I found in the web. And, now I am working in a project with [Svelte](https://svelte.dev/Svelte)/[Sapper](https://sapper.svelte.dev) and I think would be good to implement a solution like a component framework for Svelte/Sapper using your UI framework.

I'm not good with css, but the Svelte/Sapper is very easy to work with components.

What do you th

[2021-03-11 00:12] saadeghi commented on #13
Thanks!
I think there's a long long way for a Svelte version. Currently I'm focusing on adding all common components (the list at the end of readme file) as HTML/CSS for DaisyUI version 1.0.0
Then I can work on JS framework releases. React and Vue would be first picks because of the larger audience. Then I can work on a Svelte version.
So... It will not be ready anytime soon unless someone else co

[2021-03-11 06:47] WilliamBlais opened #14 "Buttons stuck on dark mode?"
Hi @saadeghi,

First of all, thanks for this awesome UI library!

After upgrading from 11.5 to 14.2, I noticed that all buttons are using dark theme scheme, even in light theme. https://imgur.com/a/eqSVdoD

If this isn't a bug, how could I set the behaviour to the old one?

Thanks!

[2021-03-11 10:38] saadeghi commented on #14
Thanks for using DaisyUI!
There was a change in color names to improve dark themes: [read more here](https://twitter.com/Saadeghi/status/1366813950428471301)

You can see the changes [here](https://github.com/saadeghi/daisyui/commit/b968fe633338953f58982dce26c71745ecefbb83) and the new color names on the  [site](https://daisy.js.org/core/colors)

Everywhere you saw a problem on your code, you need

[2021-03-12 05:13] #13 closed

[2021-03-12 05:14] #14 closed

[2021-03-12 05:14] #12 closed

[2021-03-12 05:16] WilliamBlais commented on #14
@saadeghi No worries!

If I understand correctly, if I want the old behaviour back for buttons (gray buttons in light mode), I should either edit the neutral color of the theme, or add '.bg-base-200' to the button (which won't be ideal because I will also have to modify the text color).

[2021-03-12 05:30] saadeghi commented on #14
`class="btn"` will indeed give you a *dark* gray button. It uses `neutral` color as background color and `neutral-content` for text color. If you want gray button and white text you won't need to change anything but if you want a different shade of gray or any other color, you can change the neutral colors in your theme CSS.
Let's say you want a light gray and black text for default `btn` componen

[2021-03-12 05:34] WilliamBlais commented on #14
@saadeghi Got it! Thank you so much for your detailed explanation.

[2021-03-19 04:20] WilliamBlais opened #15 "Show modal without hashtag"
Hi,

Would it be possible to use a class, for example, .active to show/hide the modal? This would ease controlling it via React (# aren't ideal).

Thanks!

[2021-03-19 10:35] saadeghi commented on #15
It is possible to use an invisible checkbox for that. I will work on it next week.

[2021-03-20 18:07] igorjacauna commented on #15
I control when to show by applying these classes: `visible opacity-100 pointer-events-auto`

I used with Vue:

[code]

[2021-03-28 20:41] atresnjo opened #17 "Colors not applied correctly using WindiCSS. (Svelte, Vite, WindiCSS)"
Hey, I'm trying to set up a new project using Svelte with Vite as build tool and WindiCSS.

`btn-primary` doesn't seem to work, but` bg/text-primary` seems to work fine.

I have uploaded a repo showcasing the issue.
https://github.com/atresnjo/svelte-vite-daisyui-windicss

Here's what the output looks like
![image](https://user-images.githubusercontent.com/41112852/112767234-cfcd8e00-9015-11eb-87a

[2021-03-29 15:05] saadeghi commented on #17
@atresnjo Hi.
I think currently using Daisy on WindiCSS is experimental. It looks like WindiCSS is ignoring `--tw-bg-opacity` and `--tw-text-opacity` variables from Tailwind.
I know on Tailwind, when we use a color like `bg-blue-500` or any other color, it adds `--tw-bg-opacity: 1` to that element as well as the background color but WindiCSS seems to work differently.

@marshallswain Can you pleas

[2021-03-29 18:42] marshallswain commented on #17
It's definitely a problem with the `--tw-bg-opacity` and `--tw-text-opacity` variables.  I just made a minimal example with Vue and found the following style in the browser.  Notice how the two variables only have a single `-` prefix.  If I edit the style in the Svelte project or my new mini Vue project, it fixes the colors.  I've also re-looked through my app that's working and can't identify a s

[2021-03-29 19:14] marshallswain commented on #17
You can work around the variable issue by adding them to the `:root` style, like this:

![Screen Shot 2021-03-29 at 1 12 30 PM](https://user-images.githubusercontent.com/128857/112887490-70609400-9090-11eb-9fab-d36c1219a874.jpg)

In my working app, the button groups and other components are all working without any changes.  I've copied the config over from the working app into the non-working mini

[2021-03-29 19:19] marshallswain commented on #17
Uggh.  I found the issue.  It's a little bit embarrassing.

![Screen Shot 2021-03-29 at 1 17 23 PM](https://user-images.githubusercontent.com/128857/112888046-1e6c3e00-9091-11eb-80b3-9f8345013594.jpg)

@saadeghi I will work on creating a plugin just for Windi. Their transform utility is definitely not working.  I must have had made a git mistake and uncommented that line while I was working on get

[2021-03-29 19:23] marshallswain commented on #17
@atresnjo, I recommend that you use the cdn version until I have the new plugin made.  Windi's API is a bit simpler than Tailwind's, so far, so we'll see how quickly it happens.

[2021-03-29 19:59] atresnjo commented on #17
Hey, thanks guys for the help! I've switched to tailwindcss-jit. Seems to work fine! Not sure yet if there are any caveats compared to WindiCSS, but so far so good.

[2021-03-29 19:59] #17 closed

[2021-03-30 14:48] saadeghi commented on #15
@WilliamBlais Added.
See second example here: https://daisy.js.org/components/modal/

Please update to latest version (0.15.2)

[2021-03-31 10:36] gunters63 opened #18 "WindiCSS problem with CSS variables, double dash prefix is only single dash in the generated javascript files"
Hi there.

I am using DaisyUI together with Vite and WindiCSS (vite-plugin-windicss) and it is almost working.

There is one problem with CSS variables, though (Styled components and themes).
DaisyUI uses `prejss-cli` to convert the css into JS objects.
Strangely, during this conversion, CSS vars get mangled from:

[code]

To something like this:
[code]

The conversion from kebab to Pascal case wo

[2021-03-31 11:15] saadeghi commented on #18
Hi,
I don't think this problem is because how prejss converts the variables because in a Tailwind project, Tailwind uses the same JS object and everything works fine. However Windi seems to read it differently.

As mentioned in [this issue](https://github.com/saadeghi/daisyui/issues/17) @marshallswain is working on the plugin (Thanks to him) and it might get fixed soon.

[2021-03-31 11:58] gunters63 commented on #18
Ok, I will have a look on how tailwind processes the JS objects. Maybe the WindiCSS team can be convinced to process these the same way. Then an extra plugin would not be strictly necessary I think.

That said, I still think prejss-cli does the wrong thing here, maybe I will look into that too, just curious :)

[2021-04-01 02:11] gunters63 commented on #18
I found the reason why Tailwind can handle the '-TwBgOpacity syntax':

[ dashify](https://github.com/postcss/postcss-js/blob/d5127d4278c133f333f1c66f990f3552a907128e/parser.js#L30)

May the WindiCSS team can adapt their parsing to match this, I will ask them :)

[2021-04-01 02:26] gunters63 commented on #18
I created an issue for WindiCSS: [Component generation not 100% compatible to TailwindUI with leading dashes](https://github.com/windicss/windicss/issues/218)

[2021-04-01 02:27] gunters63 commented on #17
I found the reason for the single dash variables, see here: [Component generation not 100% compatible to TailwindUI with leading dashes](https://github.com/windicss/windicss/issues/218)

[2021-04-01 04:32] gunters63 commented on #18
I created another issue for WindiCSS because themes break because the media style `"@media (prefers-color-scheme:dark)"` is moved to the end: [Component generation moves media CSS styles to the end](https://github.com/windicss/windicss/issues/219)

[2021-04-01 05:51] marshallswain commented on #18
@gunters63 I'm glad you confirmed the issue.  I suspected it was a WindoCSS bug, but it's much better that you've identified the actual cause of the bug.

[2021-04-03 12:24] eikaramba opened #19 "Suggestion: Clarify Default Theme usage in docs"
I have a question and a suggestion ;)

1)
For me it is unclear after reading the website whether daisyui is using the base theme by default.

e.g. on https://daisyui.netlify.app/docs/default-themes it just says i need to include `<html data-theme="dark">` to my html, but what if i don't? Do i then use the base colors? I would add this to the docs if that is how it works.

i'm currently trying to i

[2021-04-03 12:44] saadeghi commented on #19
@eikaramba Hi,
You're right. I will update the docs with more clear descriptions.
About WindiCSS: it's currently experimental to use DaisyUI as a plugin for WindiCSS. There's a problem with converting CSS variables and I think it applies to all other Tailwind plug-in that use CSS variables.
This problem might get fixed soon tho. You can follow this issues for more info:
https://github.com/windicss

[2021-04-04 10:45] saadeghi commented on #18
This issue seems to be fixed (https://github.com/windicss/windicss/issues/218)
@gunters63 Can you please update WindiCSS to latest version (2.5.10) and confirm if it works now?

[2021-04-04 10:47] saadeghi commented on #19
This color issue seems to be fixed (https://github.com/windicss/windicss/issues/218)
@eikaramba Can you please update WindiCSS to latest version (2.5.10) and confirm if it works now?

[2021-04-04 12:34] eikaramba commented on #19
sure will let you know once https://github.com/windicss/vite-plugin-windicss i updated

[2021-04-05 02:12] gunters63 commented on #19
I got DaisyUI theming now to work with WindiCSS (and React) by setting the data-them on the html root element (using a patched version of [theme-change]( "theme-change": "github:gunters63/theme-change#5a8a3aaaa300a9a4a19afb8e55617688c618748c") and by importing a copy of the DaisyUI theme CSS file where I deleted the ` "@media (prefers-color-scheme:dark)"` style.

[2021-04-05 02:31] gunters63 commented on #18
@saadeghi: Yes, can confirm it works now. Now there is only a little problem with theming left which I could work around (copying the CSS, removing the media prefers-dark style and importing it directly with `themes: false` in daisyui config).

[2021-04-05 17:30] eikaramba commented on #19
i can confirm it works now, very good.

[2021-04-06 00:06] gunters63 commented on #18
Closing issue as WindiCSS is fixed now

[2021-04-06 00:06] #18 closed

[2021-04-06 00:08] gunters63 opened #20 "WindiCSS issue with attribute selectors, for example <button disabled/> theming does not work"
I created an issue [here](https://github.com/windicss/windicss/issues/232)

[2021-04-06 13:59] #19 closed

[2021-04-10 10:39] gunters63 opened #21 "DaisyUi does not work properly with WindiCSS"
I think it makes sense to create an upstream issue here for bugs which make DaisyUi not work properly with WindiCSS.

[WindiCSS-related bugs](https://github.com/windicss/windicss/issues?q=is%3Aissue+author%3A%40me+)

All those are bugs in WindiCSS!

Big improvements were already made in the last couple of days. I hope it will work fully soon.

[2021-04-10 10:57] saadeghi commented on #21
@gunters63 Thanks!
It's good to follow them all in one place.

[2021-04-10 10:57] saadeghi commented on #20
@gunters63 this seems to be fixed now. right?

[2021-04-10 10:59] gunters63 commented on #20
Yes, I will close this issue :)

[2021-04-10 10:59] #20 closed

[2021-04-10 20:52] atresnjo commented on #21
Thanks! I believe your link is wrong.

Should be [WindiCSS-related bugs](https://github.com/windicss/windicss/issues?q=+is%3Aissue+author%3Agunters63) am I right?

[2021-04-20 03:05] gunters63 commented on #21
I switched to Tailwind Jit now, works fine with Vite. WindiCSS still has many little quirks.
I also fear maybe the developers of WindiCSS have now lost interest in their project (because of Tailwind Jit).
Its a pity, because I think the concept of WindiCSS still has some advantages.

[2021-04-20 03:06] gunters63 commented on #21
From my side we can close this issue

[2021-04-20 03:23] saadeghi commented on #21
@gunters63 Thanks.

[2021-04-20 03:23] #21 closed

[2021-04-23 08:18] florian-lefebvre opened #22 "Contribute to the docs"
Hi, awesome work with Daisy UI @saadeghi !
I would like to contribute to the docs but couldn't find any repo. Maybe you could make it open source ?

[2021-04-23 08:40] saadeghi commented on #22
Thanks @florian-lefebvre
The docs repo is here: https://github.com/saadeghi/daisyui-demo

Please let me know if you have any questions.

[2021-04-23 08:44] florian-lefebvre commented on #22
Oh thank you! I didn't see it :)

[2021-04-23 08:44] #22 closed

[2021-05-04 13:48] gjovanov opened #23 "Dropdown like menu"
Hi there,
first of all, thanks for your effort put in Daisy UI. It really is awesome and flexible addition on top of Tailwind.

This is more of a question, than an actual issue.

Recently, we have encountered a requirement to display in a `navbar` component a Dropdown list that renders itself in form of a `menu` like this one:
- https://vuetifyjs.com/en/components/menus/#absolute-without-activator

[2021-05-04 16:33] saadeghi commented on #23
Thanks @gjovanov,
DaisyUI doesn't have a CSS-only `dropdown` component yet. I will work on It this week and hopefully I will publish it until next week.
Currently I think you need some JS to make it work (using a button and a menu)
Here's is a quick example: https://codepen.io/saadeghi/pen/yLMBzMg

[2021-05-05 06:13] gjovanov commented on #23
Hey @saadeghi ,
thanks for your quick reply.

I've tested the example and it works just fine. Thanks for that.

Looking forward to have it integrated in Daisy UI. In the meanwhile, we are more than happy with the solution from above.

Feel free to close this issue; or if you want, keep it open until the official `dropdown` component is ready.

Thanks again.

[2021-05-05 08:32] saadeghi opened #24 "Add a lo-fi light theme"

[2021-05-05 08:32] saadeghi opened #25 "Add table component"

[2021-05-05 08:33] saadeghi opened #26 "Move docs to this repo"

[2021-05-05 08:36] saadeghi opened #27 "Make components size classes responsive"

[2021-05-05 08:38] saadeghi opened #28 "Add a justified center navbar variant"

[2021-05-05 08:39] saadeghi opened #29 "Fix tab border RTL style"

[2021-05-05 08:40] saadeghi opened #30 "fix card image responsiveness for any image size"

[2021-05-05 08:52] saadeghi opened #31 "Make all utilities available as CSS file in /dist"

[2021-05-05 09:43] saadeghi opened #32 "Add notification indicator component"

[2021-05-05 11:53] TgMrP opened #33 "problem with form toggle on rtl..."
have problem on toggle class when dir="rtl"

in the class is
[code]

but in rtl need to be
[code]

how can i change this?

[2021-05-05 13:28] gjovanov opened #34 "Question - open/close drawer programmatically"
Hi there,
I'm trying to understand if have some kind of reliable `state` or `indicator` that a `drawer` is opened or closed and how we can open/close a drawer component programmatically?

I've tried to e.g. to change the checked value of the checkbox ([first example](https://daisy.js.org/components/drawer)) by this Svelte code:

[code]

[code]

It seems that clicking on `id="btn1"` doesn't result

[2021-05-05 17:30] saadeghi commented on #34
Hi @gjovanov,
Whenever checkbox is checked, drawer opens and whenever it's unchecked, drawer gets closed. There's no trick.

As you can see [here](https://github.com/saadeghi/daisyui-demo/blob/3323b23ff916a4e0e1f3d8fe673f3135afd8844a/layouts/default.vue#L5) I'm controling the drawer of [daisy.js.org](https://daisy.js.org) using the checkbox.
It's a Vue project tho. I'm not sure how Svelte works bu

[2021-05-05 17:41] saadeghi opened #35 "Add radial progress component"

[2021-05-05 18:22] #33 closed

[2021-05-05 18:29] saadeghi commented on #33
@TgMrP Fixed on latest version (0.22.0)
Thanks.

[2021-05-05 18:31] saadeghi commented on #23
@gjovanov [dropdown component](https://daisy.js.org/components/dropdown) added.
Please update to latest version (0.22.0)

[2021-05-05 18:38] saadeghi commented on #34
@gjovanov Have you tried using `bind:checked={checked}` instead of `checked={checked}`
I found [this](https://svelte.dev/tutorial/checkbox-inputs) example and it seems to only work with `bind:checked`

[2021-05-06 04:29] saadeghi opened #36 "Add a high contrast theme"

[2021-05-06 07:37] gjovanov commented on #34
Hey @saadeghi ,
thanks for the suggestion.

Svelte doesn't have a Virtual DOM and it's more like a Compiler that compiles the reactivity into Vanilla JS. But, indeed, the issue was related to Svelte specifics with the bindings.

`bind:checked={checked}` works whereat `checked={checked}` doesn't. Still no idea why.

But in case when using a writable store like this:

[code]

then both of them work

[2021-05-06 07:37] #34 closed

[2021-05-06 07:41] gjovanov commented on #23
That was quick. It works like a charm 🎉

Thanks.

[2021-05-07 01:59] #36 closed

[2021-05-07 04:57] #24 closed

[2021-05-08 22:11] saadeghi opened #37 "Use logical properties and postcss plugins to generate RTL style"

[2021-05-09 13:02] saadeghi opened #38 "add `help tooltip` dropdown example"

[2021-05-12 03:46] saadeghi commented on #38
Added

[2021-05-12 03:46] #38 closed

[2021-05-13 01:57] #27 closed

[2021-05-13 01:57] #31 closed

[2021-05-16 16:21] gjovanov opened #40 "Additional components and improvements for completeness"
Hey @saadeghi ,
Daisy UI is becoming really powerful set UI components.

We though that adding few more components and improvements on the existing ones, would make Daisy UI even more complete E.g.
-  `tooltip` - we can pretty much achieve this with an absolute positioned `dropdown` that opens up on mouse hover opening a panel/card etc, however not sure if it makes sense to factor it out as a sepa

[2021-05-16 16:48] gjovanov opened #41 "accordion-item input:checked~.accordion-body to max-height: 100%"
Hey @saadeghi,
we have noticed that currently the `accordion-body` class has a `max-height: 100vh`. This seems to hide longer content inside the `accordion-body`. How can we override the value to `max-height: 100%`?
[code]

We have tried to do this by brute force with a custom style="max-height: 100%", but it doesn't seem to have an effect.

Is there an elegant way to overwrite this?

Thanks.

[2021-05-16 16:51] gjovanov commented on #41
Actually correction, the brute force with style attribute it does seem to work, but still wondering if there is a more elegant way of overriding it?

[2021-05-16 17:16] saadeghi commented on #40
Thanks for the suggestions.
I already have plans for some of these. you can see the full list of upcoming components at the end of [readme file].(https://github.com/saadeghi/daisyui)
I will add the missing ones soon.

**About `dropdown` and `accordion`**
Actually I'm planning to change accordion's markup later to get rid of that chackbox 😅  I think it's better to control it using  classes. `dropdo

[2021-05-16 17:22] gjovanov commented on #40
Oh I see... I wasn't aware of the list of components in the [readme file], probably because it's collapsed by default.

Technically speaking it doesn't matter if the open/close is done via a css class or via checkbox value as long as we can achieve the manipulation programmatically.

Anyways, thanks for the heads up about the upcoming changes. We will keep an eye on them.

[2021-05-16 18:05] saadeghi commented on #41
@gjovanov I should probably double check this to be sure, but I think `100vh` makes it possible for the content to open/close with an animation.
I will test this tomorrow and update this issue.

[2021-05-16 18:14] zemian opened #42 "TailwinPlay does not recognize "bg-primary" class name"
Hi,

I tried on TailwindPlay with a simple Card here: https://play.tailwindcss.com/IiCmZ5EuXm and the "bg-primary" is not working. While the same html works as expected in CodePen with CDN css files: https://codepen.io/zemian/pen/jOBrpvR. Is there some configuration I need to enable to use these schematic role names in TailwindPlay?

[2021-05-16 18:31] saadeghi commented on #42
Hi, You need to add colors to the config [this way](https://play.tailwindcss.com/YpeEB64z7m?file=config)
[code]
**Reason:**
DaisyUI adds colors to Tailwind if it finds `tailwindcss` installed as a dependency, If it can't find `tailwindcss` (let's say, you're using a fork of tailwind with different name or a similar project) it shows a warning on console, telling you how to extend color (like the c

[2021-05-16 18:31] #42 closed

[2021-05-16 19:00] zemian commented on #42
Ah, I see it works with your updated config now. Thanks!

Yes, updating the example config in your site's link (the one show at the bottom of your home page. eg: https://play.tailwindcss.com/RcIZd1Mwho) would be good for beginners so they don't think it's broken.

BTW, I think DaisyUI is a pretty cool project! I feel the the Tailwind can be pretty verbose on styling common UI components, and Daisy

[2021-05-16 19:23] gjovanov commented on #41
hey @saadeghi,
maybe I should give u more context of the issue.

Basically, imagine in a `navbar` having a `dropdown` that looks like this:
[code]

our issue since the `max-height: 540px` and vertical scroll bar is being shown in case of expanded `accordion`, those 17x menu items are not being show... only 4-5 we can see because of `max-height: 100vh`.

For the case when checkbox `local-instances`

[2021-05-17 08:24] gjovanov commented on #40
Actually regarding my last statement:

I think having the `state` inside a checkbox makes more sense because that `state` can be manipulated by two triggers:
1. user events (clicks, hovers etc)
2. programmatically

Whereat, if we rely only on css classes, then not sure if there was a user even e.g. mouse hover, that removes or adds certain css class, how would know how to update the `state` accord

[2021-05-17 11:33] saadeghi commented on #40
@gjovanov The problem with checkbox is being an extra element in markup. It wouldn't be a problem with web components or react components but when it's just CSS/HTML, I think it's important to keep the markup clean as possible. An open/close functionality can be achieved using `:focus` state on CSS and I think I can also define CSS rules to overwrite that state using a `-open` and `-close` classes

[2021-05-17 11:54] saadeghi commented on #41
@gjovanov
I understand your point. I don't like limiting the height to `100vh` either but please take a look at this example and see what happens if I use 100% instead of 100vh:
https://play.tailwindcss.com/92mYS639Dw

As you can see, the content will lose the smooth animation and it opens instantly. That's the reason I had to use `100vh`.
I will explore this issue this week to see if I can find a

[2021-05-17 14:25] gjovanov commented on #40
I fully agree that that markup is cleaner with `css` only and without additional `checkbox` HTML element.

Does this mean that in case we want to programmatically manipulate the `accordion-item` expanded vs collapsed,  we would need to handle also: `click`, `focus` vs `blur`, `mouseover` vs `mouseout` events so that we can update the JS `state`, based on which we can attach `accordion-item-open` o

[2021-05-17 14:41] gjovanov commented on #40
it's important that there is a way to manipulate the UI programmatically and we have that option by the cleaner CSS only variant, so it should work.

Thanks for clarify @saadeghi

[2021-05-17 14:48] gjovanov commented on #41
I see the difference @saadeghi ... Anyways, you can keep it with `max-height: 100vh` and in cases like our, where we have large number of items to display, make sense to have an option to override it... Currently we are doing this via: `style="max-height: 100%"` on that element.

But I think generally is the question, how do we override some `css` default props of Daisy UI, for the small minority

[2021-05-17 15:18] saadeghi commented on #41
@gjovanov Most components have lowest CSS specificity. For example, if you see the style of `.btn` it's like:
[code]
So, when you add a Tailwind utility class, it works:
[code]
However some components are more interactive. like `accordion` that needs the element style change according to a  sibiling checkbox state:
[code]

[2021-05-17 16:13] saadeghi commented on #40
@gjovanov This is what I have in mind:
- `<div class="accordion-item">` is closed be default. it opens and closes when user focus/unfocus. No JS needed.
- `<div class="accordion-item">` is closed be default. we add `accordion-item-open` using JS. User wont be able to close it by any focus event .
- `<div class="accordion-item accordion-item-close">` is force-closed. User wont be able to open it by

[2021-05-17 19:33] gjovanov commented on #40
Makes total sense @saadeghi 👍

[2021-05-18 15:32] ajatib opened #43 "npm build fails with Tailwindcss 2.1.2 + daisyui 0.27.2 + postCSS 8"
I'm having this error trying to build a React app to deploy:

![image](https://user-images.githubusercontent.com/1894159/118679831-996ded00-b7d4-11eb-9429-562a5dedfdb4.png)

Using this package.json:
[code]

My project was working perfectly before I add Daisyui and postcss 8
Any idea?

[2021-05-18 18:14] saadeghi commented on #43
@ajatib  This looks like a problem with your PostCSS config.
Please make sure you have required plugins in your `postcss.config.js` file.
Your `postcss.config.js` config must look something like this:
[code]
Also, I'm not sure why you installed postcss as a dev dependency, but the plugins are normal dependencies.

[2021-05-18 18:32] ajatib commented on #43
Thanks for your quick response @saadeghi.

postcss is there becouse tailwindcss `npm install -D tailwindcss@latest postcss@latest autoprefixer@latest` but I can change it.

My postcss.config.js is the following:

[code]
I will test reordering the plugins

[2021-05-18 18:49] ajatib commented on #43
Same results:

[code]

(full package.json)
[code]

postcss.config.js

[code]

tailwind.css

[code]

[2021-05-18 19:01] saadeghi commented on #43
Can I see this file please? because this is the file that is reported for syntax error:
[code]

I'm closing this issue because it's not a problem with DaisyUI, but I'd be happy to help about this if I can.
Also, here are some repos with similar packages that might help:
https://github.com/saadeghi/daisyui-starter
https://github.com/saadeghi/nextjs-daisyui-headlessui

[2021-05-18 19:01] #43 closed

[2021-05-18 20:01] ajatib commented on #43
It's a big file now
[main.txt](https://github.com/saadeghi/daisyui/files/6504011/main.txt)

Thanks for any help!

[2021-05-18 20:37] saadeghi commented on #43
well, this CSS looks fine. There isn't even an error in this file which means PostCSS is working fine.
I'm not sure... maybe a css loader (webpack, babel, etc...) is causing the issue.
Maybe some dependencies are not compatible with each other.

I tried to install the packages from your package.json and it wasn't successful:
<details>
<summary>
npm install
</summary>

[code]
</details>
<details>
<

[2021-05-18 22:03] ajatib commented on #43
Ufff, it's a much deeper error than I was thinking. Thanks for your help!

[2021-05-19 11:48] ajatib commented on #43
I could solve the issue starting with a fresh new project, installing Tailwind & Daisy (always checking if it can be build), adding my code and so... possitive side effect: I'm getting a smaller build package!
Thanks @saadeghi for your help and congrat for Daisyui, it's a great tool !

[2021-05-19 11:55] saadeghi commented on #43
@ajatib Good to hear 👍
Thanks!

[2021-05-21 07:23] gjovanov commented on #23
Hey @saadeghi ,
I'm reopening this one, because when using with `class="dropdown dropdown-hover"`  it works just fine, however when having a `dropdown` that opens up on click e.g. `class="dropdown dropdown-end"`, then clicking on any of the `menu` items in doesn't get handled:

[code]

It seems that the dropdown gets closed before even it passing the click even to the `ul->li->a` element.

Is this

[2021-05-21 07:24] gjovanov commented on #23
... btw it seems that I cannot reopen it, as only `Comment` button is visible...

[2021-05-21 07:49] saadeghi commented on #23
@gjovanov Try adding a `tabindex="0"` to your link so it can get a focus event before the menu loses its focus.

[2021-05-21 08:06] gjovanov commented on #23
it works with `tabindex="0"` @saadeghi ... however the menu has more than one item and I had to add `tabindex="0"` to all of them... Important that it works now...

Is this the expected way of working with `dropdown` that opens up on click? Or u see a way of making some changes in the `dropdown` component itself?

If this is the expected approach, we can close this issue...

[2021-05-21 11:54] zemian opened #45 "Add datepicker component"
Two of the common usecases are single date selection and a date range selection.

[2021-05-21 12:04] zemian opened #46 "Form input with button is not single line on a mobile"
When viewing https://daisyui.com/components/form/input on a real iPhone XR, the "connected" example of input with button has the button wrapped in new line below the input (Not together in a single line). However the one "with space" looks fine on the same iPhone (it's one line).

NOTE: When I view the page in Firefox Devtool with Responsive Mode, and then select iPhone X, the form UI has no issue

[2021-05-21 13:02] zemian opened #47 "Accordion examples doesn't work?"
Are these examples in https://daisyui.com/components/accordion/ suppose to expand when clicked? It's not working for me.

[2021-05-21 13:36] saadeghi commented on #23
@gjovanov The reason is dropdown is working with `:focus` event (it's not click) and this is the only possible way to do it without JS.
Because in CSS I can't listen to click event to see if user is clicking *outside* of my component (to close the dropdown) I only can see if my dropdown is focused or not... So we need to use `tabindex` to makes things focusable. It's not ideal but I haven't found

[2021-05-21 13:36] #23 closed

[2021-05-21 13:49] saadeghi commented on #45
I'm planning to a add a `calendar` component however it will be just a *visual* calendar (not a fully functional date picker that works with JS). I'm afraid it's not possible to make a functional `datepicker` component using only CSS. Daisy UI is a CSS library and has no JS dependency.
Also, unlike old days, I think using browser's native date picker makes more sense.

[2021-05-21 13:49] #45 closed

[2021-05-21 13:52] saadeghi commented on #46
Thanks
Looks like the width is too much. I'll fix that.

[2021-05-21 13:54] atresnjo opened #48 "Duplicated CSS issue using SvelteKit and daisyUI"
Repo showcasing the [issue]( https://github.com/atresnjo/sveltekit-daisyui-issue)

The local dev build works fine, but the production build somehow messes up with the CSS. The weird thing is that the DevTools shows duplicates, even though there are no duplicates in the actual generated CSS file.

Asked also in Svelte discord, will report back once I know more. If anyone has an idea, feel free to s

[2021-05-21 14:21] atresnjo commented on #48
I'm not too sure yet why this is happening, but here's a workaround:

1. Set "themes" to false in the tailwind config under "daisyui"
[code]
2. Load the themes from the CDN
[code]

I'll still leave this open in case we get an actual fix.

[2021-05-21 14:45] motzel commented on #47
It looks like it doesn't work on Android Edge. Works great on Chrome though.

[2021-05-21 15:23] saadeghi commented on #48
Thanks for the repo link. I will try to reproduce it today.
Havee you tried to build without cssnano? Because cssnano seems the only difference in your dev/prod build.

[2021-05-21 16:42] atresnjo commented on #48
Oh, it seems cssnano was causing it. Seems to work fine so far without cssnano. I'll play around more and report back.

[2021-05-21 17:25] saadeghi commented on #48
@atresnjo great!
I think you can try a different cssnano config to workaround this issue. For example disabling `mergeRules` option on cssnano might help.
I'm closing this issue but if you found more details about the cause of problem, I'd be glad to know.

[2021-05-21 17:25] #48 closed

[2021-05-21 19:19] sajrashid opened #49 "All themes not included"
HI if i add all the themes only forest and retro work, all others was working fine, until i changed to a slightly different structure,

 makes no difference if purge is false,

**Tailwind config**

[code]
**GulpFile**

[code]

**PostCss**

[code]

The question is why only Forest & Retro work, any ideas?

Thanks

S

[2021-05-21 20:30] henriquecm opened #50 "Countdown breaks with zoom level different than 100%"
After every transition the offset increases a little.

Only the Large text example seems to be working correctly a different zoom levels.

![image](https://user-images.githubusercontent.com/15136037/119194582-afd8aa80-ba59-11eb-93f7-aef5a4cf0d5d.png)

[2021-05-22 00:12] #46 closed

[2021-05-22 00:13] saadeghi commented on #25
Added in v1.0.0
http://daisyui.com/components/table

[2021-05-22 00:13] #25 closed

[2021-05-22 00:19] saadeghi commented on #47
@motzel `accordion` is now replaced with  new [`collapse`](https://daisyui.com/components/collapse) in version [1.0.0](https://github.com/saadeghi/daisyui/blob/master/CHANGELOG.md) and that bug is gone.

[2021-05-22 00:19] #47 closed

[2021-05-22 00:24] saadeghi commented on #41
@motzel `accordion` is now replaced with  new [`collapse`](https://daisyui.com/components/collapse) in version [1.0.0](https://github.com/saadeghi/daisyui/blob/master/CHANGELOG.md) and it's not limited to `100vh`.
`collapse` works with focus but if you add a checkbox, it works with checkbox [[see examples](https://daisyui.com/components/collapse/)]
Also there are `collapse-open` and `collapse-clos

[2021-05-22 00:24] #41 closed

[2021-05-22 00:42] saadeghi commented on #49
Well, this is not a problem from DaisyUI for sure.
Your tailwind config looks good... but I see you're purging your CSS twice (?) Tailwind has PudgeCSS and you don't need it again in your `postcss.config.js` file.
I'm not sure but maybe that's the problem.
DaisyUI includes all themes unless the config is `false`. And PurgeCSS won't remove the themes if you have `/data-theme$/` as safelist. But acc

[2021-05-22 00:46] saadeghi commented on #50
@henriquecm Honestly, I haven't seen it in different zoom levels before. Thanks for reporting!
The style and sizes are logically correct and I don't know why this happens. I will test more things to see if there's a way to fix.

[2021-05-22 02:31] sajrashid commented on #49
Hey thanks for looking into i spent a few hours messing with NPM and its working gr8 now.. :)   and thanks for your cool work

[2021-05-22 02:31] #49 closed

[2021-05-22 07:17] 17twenty opened #51 "[Request] Date picker"
A date picker would be really helpful

![image](https://user-images.githubusercontent.com/379176/119218028-6358a200-bb21-11eb-8e46-db4ae8d725d3.png)

## Subrequests
- Ranged selector
- Show only weekdays
- Events (dots on individual date)
- Month only picker (no days)

[2021-05-22 08:34] saadeghi commented on #51
@17twenty I'm planning to a add a calendar component however it will be just a visual calendar (not a fully functional date picker that works with JS). I'm afraid it's not possible to make a functional datepicker component using only CSS. Daisy UI is a CSS library and has no JS dependency.
Also, unlike old days, I think using browser's native date picker makes more sense.

[2021-05-22 08:34] #51 closed

[2021-05-22 09:37] manishprivet opened #52 "Request to add a Glass Theme"
I really loved the built-in themes, especially the wireframe one. It would be cool if we also had a glass theme, or something like the Windows 10 frosted glass design.

Thanks!

[2021-05-22 10:01] saadeghi commented on #52
There's a `.glass` class name as you can see on button and card demo pages. You can use this class name everywhere. But it can't be a theme because:
1. It's a background style and if gets used on every box and element, it will look ugly.
2. Overusing it has a huge performance cost on browser and makes your webpage laggy.

So instead of having a separate glass theme, I think it's better to have a c

[2021-05-22 10:01] #52 closed

[2021-05-22 15:02] naveeninja opened #53 "Suggestion for sidebar navigation on website"
`.menu.compact li>a, .menu.compact li>span{
    margin-bottom : 3px;
}`

Before SS : https://d.pr/i/ZMZ6E4
After SS : https://d.pr/i/0PQ0ru

[2021-05-22 17:19] ngnam opened #54 "what you think if can build a library Angular/ReactJS/VueJS Component use daisyui 🗡️"

[2021-05-22 17:59] saadeghi commented on #54
@ngnam Yes I'm planning to make a react version but not in the near future. Doing this now slows up the development and takes twice as time to maintain and fix bugs.
I will appreciate contributions tho!

For now, I tried my best to keep the markup clean and I wrote every component with pure CSS so it would be super easy to use DaisyUI on any framework.

[2021-05-22 17:59] #54 closed

[2021-05-22 21:54] philson-philip opened #55 "UI Issues with Change Theme Dropdown Option"
@saadeghi I have figured out some issues in the Change Theme dropdown in the production UI. I will fix the issue and create PR for the same. Attaching the screenshot below.

<img width="337" alt="Screenshot 2021-05-23 at 3 22 52 AM" src="https://user-images.githubusercontent.com/22117214/119241711-2a96e800-bb76-11eb-8c07-936d58ebb56c.png">

[2021-05-22 22:15] gjovanov commented on #23
Understood. Tnx for clarifying. Main thing there is a way around it.

[2021-05-23 11:50] #53 closed

[2021-05-23 11:51] saadeghi commented on #55
Thanks! I made some changes and I think it looks better now:
![](https://user-images.githubusercontent.com/7342023/119259314-eb52b080-bbe2-11eb-97b5-4dc87f149176.gif)

[2021-05-23 11:51] #55 closed

[2021-05-23 11:52] saadeghi commented on #53
Thanks! I made some changes and I think it looks better now:
![](https://user-images.githubusercontent.com/7342023/119259314-eb52b080-bbe2-11eb-97b5-4dc87f149176.gif)

[2021-05-23 23:23] #29 closed

[2021-05-24 06:10] gjovanov commented on #41
Hey @saadeghi ,
I have tried the new `collapse` and I confirm, it works fine. We have decided to stick to the checkbox-based state instead of focus-based one, because in our case it's less code and cleaner code to manipulate them programmatically.
Anyways, the new `collapse` works perfectly.

[2021-05-24 06:14] gjovanov opened #56 "Popover - html content for Tooltips"
Hey @saadeghi ,
I noticed the new `tooltip` component was added, which is great.

However, it seems that this `tooltip` component has the limitation of displaying only `plain text` without the option to put well formatted `html content`.

Maybe it makes sense to either consider improving the current `tooltip` or add a new component named e.g. `popover`, for displaying `html content`.

Here is an [

[2021-05-24 08:42] saadeghi commented on #56
I think [`dropdown dropdown-hover`](https://daisyui.com/components/dropdown) is basically doing the same job. Showing an HTML element on hover 🤔

[2021-05-24 09:36] gjovanov commented on #56
Not that have mentioned it, you right, no need for special component like that 😃  ... closing.

[2021-05-24 09:36] #56 closed

[2021-05-24 14:06] saadeghi commented on #50
bad news, it's an old bug on chromium
- https://stackoverflow.com/questions/54147708/difference-in-line-height-fixable-on-zoomed-view
- https://bugs.chromium.org/p/chromium/issues/detail?id=442084

I should probably look for another approach.

[2021-05-25 15:41] ManasMadrecha opened #57 "Add border bottom to Links instead of text decoration underline"
First of all, this is simply an amazing plugin. Just discovered it for my Nuxt project and just loving it. 💛

Currently, the class `link` have the property set as `text-decoration: underline`. It would be better to use css that generates from `@apply pb-0.5 border-b` and then the border colour will be similar to link-primary, link-secondary, etc.

[2021-05-25 16:13] saadeghi commented on #57
@ManasMadrecha Thanks!
Is there any downside in using `text-decoration: underline`?
Padding + border works good only if the link is `inline` otherwise it increases the height of element which might not be ideal on every design. I don't want the `.link` class to behave different on inline/block elements cuz link is a very common element and it should work everywhere (not only an inline text link in

[2021-05-25 19:45] color-space opened #58 "collapse component doesn't render correctly for me"
The collapse components don't seem to render correctly for me and i can't nail down what it could be?
I think it has something to do with SSR which i'm not using in my static PWA.

They look like this:
![image](https://user-images.githubusercontent.com/8644906/119557159-1e8e6e80-bda0-11eb-9f51-ee2478def2b4.png)

Altough they should look like this:
![image](https://user-images.githubusercontent.com

[2021-05-25 20:23] saadeghi commented on #58
There should never be a problem with SSR or SSG since daisyUI is just CSS/HTML and it works everywhere.

I think you need to update daisyUI to latest version. In your package.json, you have version `^0.28.0` but `collapse` was added in version `1.0`  ([changelog](https://github.com/saadeghi/daisyui/blob/master/CHANGELOG.md))
[code]

[2021-05-25 20:29] color-space commented on #58
yep that was it, sorry and thank you for the quick response!
totally my fault.

[2021-05-26 18:01] #57 closed

[2021-05-27 11:01] jcparant opened #60 "Enable Dark Theme"
Hi,

I'm trying to use Daisyui with Svelte. I want the same result as on the DaysiUi website but all the themes have a white background (dark, halloween etc ...) on my app

I follow this tutorial for install tailwindcss and i follow the DaysiUI documentation for DaysiUI

https://dev.to/matebek/simplest-way-to-set-up-svelte-with-tailwind-css-41bn
https://daisyui.com/docs/install

My meta HTML :
`<h

[2021-05-27 11:36] mq1 opened #61 "Not working with ViteJS and WindiCSS"
Buttons always displayed as loading. Click animation not present.

Dropdowns display as btn loading too, and don't work when clicked.

Colors and themes work correctly.

No errors in js console.

[code]

Am I missing something?

[2021-05-27 12:16] saadeghi commented on #61
@mq1 That's weird. Buttons only should show the loading spinner if they have a `loading` class 🤔
Can you make a small example repo so I can reproduce this problem?

[2021-05-27 14:17] saadeghi commented on #61
@mq1 Thanks!
Well... it looks like WindiCSS is not creating the correct style and I'm afraid I can't fix this on my end.
This is the source style of `.btn.loading`:
https://github.com/saadeghi/daisyui/blob/master/src/components/unstyled/button.css#L23
[code]
and it should result this: (which works fine with Tailwind)
[code]
But WindiCSS is creating this style instead (which is wrong):
[code]
Can y

[2021-05-27 15:27] saadeghi commented on #60
@jcparant I think you need to add `bg-base-100 text-base-content` to your root/container element so everything inside, actually use the colors defined by themes.

**Reason:**
[Each theme](https://github.com/saadeghi/daisyui/tree/master/src/themes ) is just a set of color values that will be added to Tailwind. So just like Tailwind colors (like `bg-red-100`, `bg-blue-500`, etc), we can use color ut

[2021-05-27 15:27] #60 closed

[2021-05-27 15:45] jcparant commented on #60
Thank you very much for your help, it works!

[2021-05-27 16:31] cwalton commented on #60
Could you point to a reference for text-base<-content>.  I can't find it referenced on the site or in a search of the repo.
I see text-base as a font size attribute in tailwind, but I'm not seeing how this is related to the "content" portion of your solution...  just trying to learn from other's issues...

[2021-05-27 17:14] saadeghi commented on #60
@cwalton Color names are [here](https://daisyui.com/core/colors) and we can use them on all utility classes just like [any other Tailwind color](https://tailwindcss.com/docs/customizing-colors)
[code]

As you can see [here](https://daisyui.com/core/colors) we have `primary` color.
And `primary-content` is the color of any content (text, border, etc) that should go on a `primary` color.

**Not to b

[2021-05-27 17:51] cwalton commented on #60
Thanks, this was a great response.  What was making it confusing is the existing tailwind "text-base" and no description of the *-content classes.

Also, unless I'm missing something (and it might be because I can't find any doc on *-content), in all other cases, the item to decorate comes BEFORE the color and nothing after it accept a scaler (100,200,etc)...  your "text-primary-content" seems inc

[2021-05-27 18:17] saadeghi commented on #60
@cwalton Actually, `-content` is not meant to be a utility class or a variant or a postfix. `primary-content` is a color name (as a whole) and it exists as the perfect color (based on contrast and readability) to be used on a `bg-primary`.

I thought about other names like `primary-foreground` or `primary-fg` or `primary-data` but `primary-content` looks better and easier to remember.

I also thin

[2021-05-27 19:38] cwalton commented on #60
Thanks!  Your statement "primary-content is a color name" explained it all - and you should definitely add that to the docs.

The project is fantastic... and thanks for sharing it with the world.

[2021-05-28 23:09] teevacgroup opened #69 "Great"
## - - Waouh i'ts a amazing work!!!****

[2021-05-28 23:22] #69 closed

[2021-05-29 10:57] akhil-gautam opened #70 "Add additional colors to textarea component"
Similar to Form-Input, it would be nice if `textarea` supports various colors like `primary, secondary, etc..`.
@saadeghi Let me if I can help. It might be just a matter of pasting in [here](https://github.com/saadeghi/daisyui/blob/master/src/components/styled/textarea.css)😄

[2021-05-29 11:35] saadeghi commented on #70
I will add them today.
Thanks 👍

[2021-05-29 11:48] saadeghi opened #71 "add new color names `[colorname]-muted` for content with lower opacities"

[2021-05-29 15:23] AsyncBanana opened #72 "DaisyUI does not support Tailwind JIT"
When Tailwind JIT mode is on (using `mode: 'jit'` in `tailwind.config.cjs`), DaisyUI does not do anything. This does not happen when Tailwind is set to the default mode.
**Versions**
Tailwind: `2.1.2`
DaisyUI: `1.2.0`

[2021-05-29 16:20] saadeghi commented on #72
Well... That's not true.
Here you can see it works both in dev and production env:  https://github.com/saadeghi/daisyui-starter
The issue must be from somewhere else 🤷‍♂️

[2021-05-29 17:43] #72 closed

[2021-05-30 02:56] saadeghi commented on #70
Fixed. Please update to latest version

[2021-05-30 02:56] #70 closed

[2021-05-30 03:04] #71 closed

[2021-05-31 07:31] loranger opened #73 "Color issue"
Hello,

Thank you for this awesome UI.
I'd like to use it, but fail with a tiny issue.
I installed Daisy as a dropin' UI for [Laravel Jetstream](https://jetstream.laravel.com/), but I cannot get the color work properly.

![dark](https://user-images.githubusercontent.com/6014/120156954-ca95e680-c1f2-11eb-9e12-02ca34544ccb.png)
![forest](https://user-images.githubusercontent.com/6014/120156956-cbc71

[2021-05-31 09:16] saadeghi commented on #73
Try adding `text-base-content` to your container div where you have `bg-base-100` class.
Because when you define your background color is base-100 (dark) you also need to define the text color base-content (light) on that. Otherwise, the default text color of browser is black.

[2021-05-31 21:22] #73 closed

[2021-05-31 23:49] saadeghi commented on #37
I was looking for a postcss plugin to generate ONLY the RTL style so I can use it as an addition to result file but couldn't find any.
So I'll keep things as it is for now.

[2021-05-31 23:49] #37 closed

[2021-06-01 21:37] sinmineryt opened #75 "Question: What are the icons used?"
From where are the icons used in the DaisyUI documentation?

[2021-06-01 21:51] #75 closed

[2021-06-03 07:37] aiguoli opened #76 "select-sm display incorrectly"
hello, my code is
[code]

but it displayed like this, the `option` is incomplete.
![image](https://user-images.githubusercontent.com/49404623/120605991-46a55e00-c481-11eb-8b95-1ce2cb661942.png)

[2021-06-03 14:53] atresnjo commented on #76
Maybe some other CSS overriding it? Here's an [example ](https://play.tailwindcss.com/CUAgnzB1BR) with your code, which displays the value correctly.

[2021-06-03 15:32] saadeghi commented on #76
I think @atresnjo is right. To debug this issue. You need to compare the style from your inspect element with the example @atresnjo made. It might be a style from a container or another element. Something like a font size, line height, etc.
I'm closing this issue since it's not a bug from daisyUI but feel free to continue the conversation. I would be glad to help if I get more details about your c

[2021-06-03 15:32] #76 closed

[2021-06-04 09:15] aiguoli commented on #76
Thanks for your answer.
But it's so wired that I copy my code into play page, it works perfect. 😭

code: https://play.tailwindcss.com/NDaYmAmRQr

play:
![image](https://user-images.githubusercontent.com/49404623/120777178-9a827680-c557-11eb-97e9-6d4ec2760485.png)
local:
![image](https://user-images.githubusercontent.com/49404623/120777223-a2dab180-c557-11eb-8cdd-ce95d989cec2.png)
local(delete `sel

[2021-06-04 10:12] saadeghi commented on #76
@aiguoli Can you try adding a `py-0` class to `<input>`?
Based on that I see on the screenshot, it looks like there's a padding. I added a `py-2` class and [the result](https://play.tailwindcss.com/w9amuD6s94) became similar to yours.
You need to check inspect element to see if there's a padding style for `input` and find the source of it.

[2021-06-04 10:22] aiguoli commented on #76
it works perfectly, thank you so much!!!😀

[2021-06-05 23:18] sukiejosh opened #77 "PWA docs/website"
Hi, would you mind turning daisyui.com to PWA, it would be very helpful offline ,thanks for the components

[2021-06-06 00:28] saadeghi commented on #77
Sure. But until then, you can clone this repo and build the docs on local to use it offline

[2021-06-06 13:15] sukiejosh commented on #77
Ok thanks

[2021-06-07 14:17] mq1 commented on #61
I think we can close this issue
DaisyUI works correctly on https://github.com/windicss/windicss/releases/tag/v3.1.2

[2021-06-07 14:18] #61 closed

[2021-06-11 02:33] iagocavalcante opened #78 "Table with strange behavior"
When i use table it takes the dark theme from the browser automatically, but i don't want this happen, how to fix this ?

[2021-06-11 03:31] saadeghi commented on #78
@iagocavalcante If you add `data-theme=light` to your `<html>` or container element, it forces everything inside to use light theme.
But if you want your page to use dark theme and you want only your table to use light theme, you can add `data-theme=light` to the table.
You can do this with other themes and other elements too.

Please let me know if you have any questions.

[2021-06-11 03:31] #78 closed

[2021-06-12 17:10] ctwhome opened #79 "Menu dropdown doesn't click throught"
First of all, thanks for this fantastical and beautiful job you are doing. As a matter of feedback, I am not able to use the menu dropdowns to trigger click events because the menu closes before (with vuejs)

do you have a specific way to make the menu items triggering a method?

[code]

[2021-06-12 17:25] saadeghi commented on #79
Thanks.
If you want to have clickable items inside dropdown, you need to add tab index (like `tabindex="0"`) to that element.

Reason: this dropdown works with CSS :focus. When we click the button, the menu gets focus but as soon as we click a div (that is not focusable) the menu will lose the focus and will close before the div gets the click event. So we need to make our links focusable by addin

[2021-06-12 17:25] #79 closed

[2021-06-12 17:45] ctwhome commented on #79
Following your comment, I was able to click on the items, and close the menu by focusing on another HTML element (with tabindex=0, otherwise it doesn't work)

[code]

[2021-06-13 11:37] ina6ra opened #80 "Navbar is fixed, Stat is displayed overlapping"
I have prepared the code to reproduce the problem.
https://play.tailwindcss.com/eyp72zJWTm

I had the same problem with Hero, but I solved it by adding the following CSS.

[code]

Please tell me how to solve with Stat.

[2021-06-13 12:30] saadeghi commented on #80
Looks like items inside a grid have higher z-index than a fixed element (because none of them have z-index by default) 🤔
You can fix this by adding any z-index to `nav`
[code]
https://play.tailwindcss.com/hLMyTj3HBJ

I can add a default z-index to the source code of `.navbar` but I'm not sure if it's a good decision since `navbar` might be fixed or not, might be used multiple times on a page and p

[2021-06-13 12:30] #80 closed

[2021-06-14 00:00] ina6ra commented on #80
@saadeghi Great Thanks!
I was able to solve it by adding z-10 to the ``.navbar``.
I also removed the ``.hero`` display.

[2021-06-14 10:35] lavish-kumar opened #82 "Twin Macro (Emotion) Not Working"
Recently i tried to use Daisy UI with Emotion and Twin Macro.
While Bundling CSS in JS with Emotion certain Tailwind variables are not working

Dependency Versioning:
"daisyui": "^1.3.5",

Using an example component (CARD) at the given URL : https://daisyui.com/components/card

Expected Output :
![image](https://user-images.githubusercontent.com/26251693/121878375-43d02600-cd29-11eb-8979-96a69478d

[2021-06-14 11:03] saadeghi commented on #82
@lavish-kumar I think it might be a bug from Twin and I'm afraid I can't do anything on my end.
Just like [Tailwind's original colors](https://tailwindcss.com/docs/background-color), Tailwind plugin colors are expected to render with the opacity variable like this:
[code]
I'm not sure why Twin is not adding `--tw-bg-opacity: 1;` to color utilities because without it, any Tailwind plugin that adds

[2021-06-14 13:28] lavish-kumar commented on #82
@saadeghi  Thanks for the prompt reply.
_I would report this bug at Twin's Repository_

But Meanwhile I would like to bring some light to the following to observations
**I User the following code to test out a few things :**

- I have tried all the `bg-<color>` utility classes in twin and they seem to produce no valid output

![image](https://user-images.githubusercontent.com/26251693/121899643-3d

[2021-06-14 13:29] lavish-kumar commented on #82
If it would have been an issue with Twin Macro the other classes like `btn` should also not have defined color properties

[2021-06-14 15:05] saadeghi commented on #82
@lavish-kumar Yeah, the style of components are [already built](https://unpkg.com/daisyui@1.3.5/dist/styled.js) using a Tailwind/PostCSS setup, Twin won't need to generate any color utility class for the component classes because it's just a ready-to-use CSS-in-JS object.
So the colors that were used inside components (for example the background color of `btn-primary`) will include opacity variabl

[2021-06-14 19:48] lavish-kumar commented on #82
@saadeghi  Looks Like the logic for enabling opacity in the following  file [COLORS/index](https://github.com/saadeghi/daisyui/blob/master/src/colors/index.js) is failing.

the 2 `IF` blocks are behaving weirdly. `!== undefined` is not working as expected.

I Stringfied both the destructured variables and they are as follows:
- `opavityValue` = `"var(--tw-bg-opacity)"`
- `opacityVariable` = `"--tw

[2021-06-14 20:21] saadeghi commented on #82
@lavish-kumar thanks a lot!
That function is actually based on [this example](https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo) from Adam Wathan and according to the description:

Are you sure removing the first `if` actually fixes this issue? I need to test more to see if this doesn't break anything on different environments and difference utility classes.

Alternatively I ca

[2021-06-14 20:43] lavish-kumar commented on #82
As Adam said thats a general format not the exact format. The documentation on this topic is so scares that a definitive answer is unlikely.

Also i had another approach mind. In the 1st If Block  as `opacityValue` is a string `hsla(<color> / var(--tw-opacity)`we can manuplate the string directly and append the string with a fallback value in the var so the variable would look like `hsla(<color> /

[2021-06-14 21:01] lavish-kumar commented on #82
After a brief code review I think removing 1st block is not safe because if and when opacity is actually specifically defined in style this might fail.

[2021-06-14 22:34] AlexanderReiswich opened #83 "Order of classes is wrong, using SvelteKit/Vite + WindiCSS"
Sample repo: https://github.com/AlexanderReiswich/windi-daisy-test

When I add the CDN script everything works fine, but when added as a plugin the order of classes gets messed up. For example:

[code]

So the main .btn class is loaded after the modifying class, and as a result, when an element has the class "btn btn-sm" the properties of .btn-sm get partially overwritten.

This is probably caused

[2021-06-15 02:18] alaboudi opened #84 "Tooltip With Long Text"
Firstly, thank you very much for the library. It's very nice

Now for the real business, I think we can do some work to accommodate longer text in the tooltip. Currently, if long text is placed in the `data-tip` attribute, it will all be rendered in one line. I think it would be beneficial to find a way to render the text in some sort of max width container. Below is a screenshot of the current be

[2021-06-15 20:19] saadeghi commented on #83
@AlexanderReiswich Thanks for the sample repo.
I made another [sample repo](https://github.com/saadeghi/windi-vs-tailwind-daisyui-class-order-issue) and now I can confirm this is because how Windi generates styles.
I'm closing this issue because there's nothing I can do on my end but I created an issue on WindiCSS to follow up:
[**Incorrect CSS order for plugin components and utilities**](https://

[2021-06-15 20:19] #83 closed

[2021-06-15 20:23] #84 closed

[2021-06-16 09:44] Etheonor opened #85 "textarea with cupcake theme is not great"
The borders are much too rounded, and the result is not very good. Am I the only one to think that?

(But overall I love DaisyUI, great library o/)

[2021-06-17 02:34] #85 closed

[2021-06-17 16:06] Cokaps opened #86 "Dividers doesn't working"
Hi there, I've tried to set the dividers (Intel Cosumers and Intel HEDT) but as the picture below, it doesn't work.

![image](https://user-images.githubusercontent.com/64778285/122433235-3aacb680-cfc0-11eb-8dd9-eed4442625f2.png)

My code can be found on [Github](https://github.com/Cokaps/GenZOC/blob/master/src/index.html#L100-L133)

[2021-06-17 17:25] #86 closed

[2021-06-17 18:13] saadeghi commented on #86
@Cokaps everything's fine?

[2021-06-17 18:56] khoivan88 opened #87 "overriding button padding"
Hi,

First of all, thank you for this very useful library. I have been using this for one of my websites and it works great. Today, I was upgrading from 0.20.1 to 1.3.7 and noticed that something broke. Specifically, I have a button with this class: `...btn btn-primary btn-lg px-1...` . In the earlier version, I use the `px-1` to control the width of the button and it worked great. However, switch

[2021-06-17 19:37] #87 closed

[2021-06-17 19:43] saadeghi commented on #87
@khoivan88 Thanks for reporting this. fixed on latest version `1.3.8`
demo: https://play.tailwindcss.com/f91t1expmq

[2021-06-17 19:49] khoivan88 commented on #87
Thank you very very much! 😄  👍

[2021-06-18 00:52] Cokaps commented on #86
Yeah, it works without changing anything, I used to tried to reopen the PowerShell for several times.

[2021-06-18 03:34] Cokaps opened #88 "Add tab transition"
I'm trying to add tab transition (I mean I have tab 2 with `tab-active` class, when I click on tab 1, it will remove `tab-active` from tab 2 and add `tab-active` class to tab 1)
Here is my logic on [codepen](https://codepen.io/loctran016/pen/JjWzErq) but it doesn't work.
Thanks for your help in advanced.
Would be nice if it have tab transition by default

[2021-06-18 05:55] saadeghi commented on #88
Since you're using alipne, there's an easier way to make tabs:
https://codepen.io/saadeghi/pen/qBrvmBP?editors=1000

I can add functionality of switching tabs to daisyUI with CSS only
...but it would be a noisy HTML with invisible checkboxes.
I think It's better to handle it with JS.
Tabs might be link to pages or they might be just visual or they might just switch the visibility of items. It's su

[2021-06-18 05:55] #88 closed

[2021-06-20 04:55] jenishStudent opened #89 "Button is pressed initially when page loads on chrome"
I followed the code in your tutorial but when page loads the button is pressed causing the side bar to show and hide.

[2021-06-20 04:58] saadeghi commented on #89
@jenishStudent Can you please make an example of this issue on Codepen or Tailwind Play?
Are you sure your JS isn't doing anything about this?

[2021-06-20 05:23] jenishStudent commented on #89
I dont have any js im using nextjs plus tailwind and your library

[2021-06-20 05:24] jenishStudent commented on #89
even in your documentation if you look at chrome browser you will see the button react when page initally loads

[2021-06-20 05:24] jenishStudent commented on #89
doesnt happen on safari though

[2021-06-20 05:51] jenishStudent commented on #89
@saadeghi  seems like a side menu issue where initally shows and hide

[2021-06-20 11:17] saadeghi commented on #89
@jenishStudent Here's a video when I refresh the page. Button has a small animation when page loads but it's not pressed. Also I don't see a problem about sidebar 🤔

https://user-images.githubusercontent.com/7342023/122671928-20e8ba80-d1de-11eb-8885-9f9ea7fa2cd1.mp4

[2021-06-22 12:55] ctwhome opened #91 "Click outside modal to close it"
Hi! is it possible to be able to close the modal when clicking outside (in the black area?) with only css?

[2021-06-22 13:16] saadeghi commented on #91
@ctwhome It is possible using labels, because checkbox controls the modal and you can check/uncheck a checkbox using any label:
https://play.tailwindcss.com/JYBmEBLBin

[2021-06-22 13:16] #91 closed

[2021-06-22 13:23] ctwhome commented on #91
Very clever, thank you for the fast response. Another good example for the toolkit!

[2021-06-22 17:41] ctwhome commented on #89
I don't have that problem either. Which chrome version are you using? did you try on an instance without extensions?

[2021-06-23 19:02] csterritt opened #92 "Clicking the checkbox itself should toggle the checkbox"
Thanks for doing DaisyUI -- it's fantastic to use.

The default behavior for HTML checkboxes is to allow the user to click the checkbox itself to toggle it, not just the adjacent label.

I also feel that the default "show the checkbox as checked" on hover over the label is confusing -- if the checkbox is not checked, and the mouse is over the label, it appears that the checkbox is checked.

[2021-06-24 16:54] saadeghi commented on #89
I'm closing this because I don't see any problem 🤷‍♂️

[2021-06-24 16:54] #89 closed

[2021-06-27 23:24] workingon92 opened #94 "How to make the drawer component on the right?"

[2021-06-27 23:40] workingon92 opened #95 "How to make the modal component on the right?"
How to make the modal component on the right?
<img width="1118" alt="Screen Shot 2021-06-28 at 6 37 47 AM" src="https://user-images.githubusercontent.com/86577210/123562880-99054080-d7db-11eb-9a5f-aa2a368e38fe.png">

[2021-06-28 00:48] saadeghi commented on #95
@workingon92 You can do this by adding a `justify-end` class to modal (to send it to right)
and you can expand the height by adding `h-screen` to modal-box.
Example: https://play.tailwindcss.com/9VIa7IYlHj

[2021-06-28 00:48] #95 closed

[2021-06-28 01:28] saadeghi commented on #94
@workingon92 New utility class `drawer-end` added for `drawer` in version `1.6.0`
See the last example here: https://daisyui.com/components/drawer

[2021-06-28 01:28] #94 closed

[2021-06-28 04:05] workingon92 opened #96 "[carousel ] how to active item and how to build carousel like this below?"
<img width="914" alt="Screen Shot 2021-06-28 at 11 02 46 AM" src="https://user-images.githubusercontent.com/86577210/123578673-84876f00-d800-11eb-90a2-c771d4d14ca2.png">

[2021-06-28 07:13] MotionPhix opened #97 "Failed to resolve component"
In vue 3, I am getting

Any way to resolve this issue, because daisyui components don't get displayed correctly on the page

[2021-06-28 08:27] workingon92 commented on #95
@saadeghi
Thank you for your reply.
How to  transition from right to left when modal show

[2021-06-28 09:22] saadeghi commented on #95
@workingon92 using `justify-start` instead of `justify-end` will put the modal to left.

[2021-06-28 09:35] saadeghi commented on #97
@MotionPhix I need more details.
Can you create a small repo so I can reproduce this issue?

There's an example with the latest version of Vue + Vite and everything looks fine: https://github.com/saadeghi/daisyui/tree/master/examples/vue-vite

[2021-06-28 11:27] saadeghi commented on #96
@workingon92 I think it's better to handle this kind of functionality using javascript.
It's not impossible to do it using pure CSS but we will end up with a complex and large amount of HTML/CSS.
Without JavaScript, the best we can do is using `<a>` links to target each item with `id`:
[code]
[code]

[2021-06-28 11:27] #96 closed

[2021-07-01 02:39] saadeghi commented on #97
@MotionPhix I'm closing this for now. It seems like a problem with your build config (not with daisyUI).
You can take a look at the example build [here](https://github.com/saadeghi/daisyui/tree/master/examples/vue-vite).
Feel free to continue the conversation with more info if the problem still exists.

[2021-07-01 02:39] #97 closed

[2021-07-01 02:59] eandresvera opened #98 "Unable to change collapse's bg color"
Great work doing daisyui!.

I'm unable to  change the background color of collapse component:
![ ](https://user-images.githubusercontent.com/59941150/124057643-de04bf00-d9f5-11eb-8f60-304b3b6cfc0f.png)

It is still with  white background, even customizing it in my css file using Tailwind's @apply directive:
![](https://user-images.githubusercontent.com/59941150/124057774-20c69700-d9f6-11eb-95ad-5f

[2021-07-01 05:47] saadeghi commented on #98
@eandresvera The [style](https://github.com/saadeghi/daisyui/blob/master/src/components/styled/collapse.css) for a focused `collapse` is a little bit complex because it has to:
- apply for both types of `collapse` (using a checkbox / using HTML element focus)
- apply for both title section and the content section
- consider the `collapse-open` an `collapse-close` utility classes

I will make this

[2021-07-01 20:25] eandresvera commented on #98
@saadeghi that works perfectly!.
Thank you for the fast reply and your work doing daisyui!

[2021-07-01 20:26] #98 closed

[2021-07-01 22:03] saadeghi commented on #98
@eandresvera The color changes are applied for latest version `1.6.1`

[2021-07-03 00:44] workingxx92 opened #101 "[carousel ] how to show 6 items ?"

[2021-07-03 12:28] saadeghi commented on #101
@workingxx92 you can use any of Tailwind's utility classes.
So if you want to have 6 items in a row, you need to add `w-1/6` class to `carousel-item`

[2021-07-03 12:28] #101 closed

[2021-07-03 14:14] workingxx92 opened #102 "how to build input number component?"
Hi.
how to build an input number compoment?
<img width="149" alt="Screen Shot 2021-07-03 at 8 49 52 PM" src="https://user-images.githubusercontent.com/86577210/124356469-4fd04900-dc40-11eb-8796-3f601fd172b8.png">

[2021-07-03 14:58] saadeghi commented on #102
`<input type="number">` has native -/+ buttons but if you want to show custom buttons, you need to use JS to increase/decrease the number.
https://play.tailwindcss.com/mK1nUw0bsa

[2021-07-03 14:58] #102 closed

[2021-07-03 15:02] Fanna1119 opened #103 "How to only include certain themes? [question]"
When compiled, in the console it shows

  ✔︎ Including:  base, components, themes[21], utilities

I assume it includes all themes by default.

In vue I can select themes like this which is super neat

[code]

[code]

So I am just wondering how to decrease build size by only including certain themes?

[2021-07-03 15:05] Fanna1119 commented on #103
It is in the docs.

in the tailwind config

[code]

[2021-07-03 15:05] #103 closed

[2021-07-04 06:22] helioh3 opened #104 "alert component is influencing in width of box"
When I place an alert under some input of the assembled component: Hero With Form, in the HERO section, it increases the width of the entire box.

[2021-07-04 09:46] saadeghi commented on #104
@helioh3 can you please make an example on Tailwind Play or Codepen?

[2021-07-04 20:12] helioh3 commented on #104
thanks for answering! segue https://codepen.io/helioh3/pen/JjNYVvR quando add o Alert  on input, it change position with!

[2021-07-05 00:21] saadeghi commented on #104
You need to add TailwindCSS file as well: https://codepen.io/saadeghi/pen/NWjGZwj

Class names like `hero`,`hero-content`, `card` etc... are component classes from [daisyUI](https://daisyui.com/)
but in your code, you also have classes like `w-full`, `max-w-sm`, `flex-1` etc... These are utility classes from [TailwindCSS](https://tailwindcss.com/).
So if you use both CSS files in your CodePen, you

[2021-07-05 00:21] #104 closed

[2021-07-07 03:54] niccolox commented on #40
feature-request: mega menu
https://github.com/hunzaboy/bulma-megamenu

[2021-07-09 08:45] Loosie94 opened #105 "Modal does not set overflow"
Hi Guys,

Love the UI-kit. Just wondering; Is there a way to make the modal component also set the 'overflow' class on the body when opening? Now a user is able to scroll the whole page which is a bit weird. Thanks!

[2021-07-09 14:56] saadeghi commented on #105
I'm afraid it's not possible without JS.
You need some JS to add/remove `h-screen overflow-hidden` classes to `<body>` when checkbox is checked.
Example: https://codepen.io/saadeghi/pen/Pomzvya?editors=1010

[2021-07-09 14:56] #105 closed

[2021-07-09 19:37] WilliamBlais opened #106 "Collapse with checkbox not working on iOS"
Thanks for your work on DaisyUI, really great.

The new collapse component with checkbox doesn't work on iOS safari. It works on desktop thought.

It can be reproduced on the docs https://daisyui.com/components/collapse/

[2021-07-10 01:44] #106 closed

[2021-07-10 01:58] saadeghi commented on #28
fixed https://github.com/saadeghi/daisyui/commit/eb268330921de1d1d664e099fbecc72f222543b2

[2021-07-10 01:58] #28 closed

[2021-07-13 18:28] jenishStudent opened #108 "Disable the initial page load button animation"
whenever my page loads the button animation is kicked in is there a way to disable this effect?

web.findoffer.com , if you look at the top navigation button

[2021-07-13 19:19] saadeghi commented on #108
I see that you already used `no-animation` class, so there wont be animations.

There are 2 ways to disable or change the animation:
- using `no-animation` class to disable animation [[docs](https://daisyui.com/components/button/)]
- changing `--animation-btn` variable on theme which is `0.25s` by default [[docs](https://daisyui.com/docs/add-themes)]
- adding some custom CSS : `.btn {animation: no

[2021-07-13 20:21] jenishStudent commented on #108
do you know why its animating then even if i am using no-animation class?

[2021-07-13 21:24] saadeghi commented on #108
@jenishStudent It should have animation. What version of browser are you using?

[2021-07-14 12:18] workingxx92 opened #109 "[hero] how to move content to left"
[hero] how to move content to left
<img width="1035" alt="Screen Shot 2021-07-14 at 7 16 36 PM" src="https://user-images.githubusercontent.com/86577210/125620629-fd0cd89c-f06a-4800-a11c-74ef81bbcbd2.png">

[2021-07-14 13:17] ngnam commented on #109
@workingxx92  pls post snipet of you, or

you can use CSS - Positioning like `left:0` with `postition: absolute;`

[2021-07-14 14:45] saadeghi commented on #109
@workingxx92 It's CSS grid, you can justify it by adding `justify-items-start` to `hero`.
Example: https://play.tailwindcss.com/n2H77uIxac

[2021-07-14 14:45] #109 closed

[2021-07-17 00:07] dylancl opened #110 "Themes not working (Svelte Electron app)"
Hi,

I followed all installation steps and DaisyUI itself works (and it's awesome, thanks a lot for all the effort). However, I seem to be unable to change the themes.

From the logs, I do see that all (21) themes are getting included

[code]

However, when I try using the theme Halloween - nothing happens. I include the data-theme in my head, with `/data-theme$/` added to my safelist in the confi

[2021-07-17 00:10] dylancl commented on #110
Never mind, just after posting the issue I realized that `<html data-theme="halloween">` probably doesn't work because it's in the head tags, while it should just be defined as a global attribute - of course it worked once I tried this.

Sorry!

[2021-07-17 00:10] #110 closed

[2021-07-18 15:08] #32 closed

[2021-07-18 15:08] #92 closed

[2021-07-19 06:51] saadeghi commented on #108
I'm closing this because I couldn't reproduce. Feel free to reopen this issue with more information if the problem still exists.

[2021-07-19 06:51] #108 closed

[2021-07-26 12:06] kapitalisman opened #111 "daisyUI logging breaking css output file using Bundle"
I'm trying to use daisyUI for my Flask web app. I use Bundle with Flask-Assets (webassets) and apply filter="postcss" to compile the base tailwind css file. Bundle writes its output to a css file which now includes the logging of daisyUI:

� DaisyUI components 1.10.0  https://github.com/saadeghi/daisyui
  ✔︎ Including:  base, components, themes[2], utilities

Since this is not valid css, it breaks

[2021-07-26 12:55] kapitalisman commented on #111
Sorry for this. Just found the logs option in the source code.

[2021-07-26 12:55] #111 closed

[2021-07-26 17:24] saadeghi commented on #111
@kapitalisman good. `logs` config and others are also documented on the site: https://daisyui.com/docs/config

But I'm not sure why the logs goes inside the output file for you. It should just be printed on terminal 🤔

[2021-07-28 09:45] hubingliang opened #112 "Add Date Picker component"

[2021-07-28 10:23] saadeghi commented on #112
I will add a `calendar` but it will be just a visual representation.
If you want a fully working date picker input field that you can choose `day`, `month`, `year` and you want the chosen values to be shown in the input field, that's not possible on a CSS-only library.
I suggest using browser's native date input:
[code]

[2021-07-28 10:23] #112 closed

[2021-07-30 11:48] DanDev95 opened #113 "Drawer only takes up header space"
In my header, I have a hamburger menu that makes use of the drawer. Unfortunately, the drawer only takes up the small space that the header has at the top, rendering it quiet useless. How can I make it take up the entire screen?

[2021-07-30 12:29] saadeghi commented on #113
@DanDev95 Can you please show me an example of your code on Codepen or Tailwind Play or a GitHub repo?

[2021-07-30 12:30] DanDev95 commented on #113
Well it's the example code on the docs site.

`<div class="rounded-lg shadow bg-base-200 drawer h-52">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle">
  <div class="flex flex-col drawer-content">
    <div class="w-full navbar bg-base-300">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.

[2021-07-30 13:45] cnb-philip opened #114 "WindiCSS - Buttons missing hover styles"
This problem is present in the windi-cli example.  Hovering over the primary/secondary buttons do not change the background to the appropriate color.  It just uses just the default button hover background color.  Upon inspecting the generated output.css, it appears the classes `.btn-primary.btn-active,.btn-primary:hover` are not being generated.

Buttons were the first and only thing I tested, so

[2021-07-30 14:50] saadeghi commented on #113
just like the example on site, You need a container
[code]
and to make it fill the height, you need to add `h-screen`
[code]
https://play.tailwindcss.com/UVcJu0KhE7

Please let me know if you have any questions

[2021-07-30 14:50] #113 closed

[2021-07-30 15:20] saadeghi commented on #114
I think that's a bug on Windi CSS and I'm afraid I can't do anything about it on my side.
https://github.com/windicss/windicss/issues/345
If you're to using Windi CSS, you can add `hover:` classes to rewrite the colors until there is a fix for that.
[code]

I'm closing this issue because it's not a bug on daisyUI. Please follow [the linked issue](https://github.com/windicss/windicss/issues/345) to

[2021-07-30 15:20] #114 closed

[2021-07-30 15:49] workingxx92 opened #115 "Add Color Picker component"

[2021-07-30 16:00] saadeghi commented on #115
@workingxx92 why not using native color picker?
[code]

[2021-07-30 20:48] DanDev95 commented on #113
Right, but then it makes the header very tall and pushes down the content below it (because of the screen height of the header)

[2021-07-30 22:13] saadeghi commented on #113
@DanDev95 I'm not sure about the layout you want. you need to put the header, the page content, footer and everything inside `drawer-content`. the drawer is not the header, it's the container for whole page so it can show a off-canvas sidebar

[2021-07-30 22:16] DanDev95 commented on #113
Hmm, that will make it difficult to have a standalone Header component.

[2021-07-30 23:09] saadeghi commented on #113
@DanDev95 Something like

[code]

[2021-08-01 11:57] pavangayakwad commented on #40
It would be great if you provide us css class of animations. For example, the animation effect of button click. If I only get that animation as a separate css class, I can apply that on other composite elements like stats.

[2021-08-01 12:27] saadeghi commented on #40
@pavangayakwad This is the animation used for button click:
https://github.com/saadeghi/daisyui/blob/6e77b42003e3ab7e5228fe1b1fd84ef78d87847f/src/components/styled/button.css#L4
https://github.com/saadeghi/daisyui/blob/6e77b42003e3ab7e5228fe1b1fd84ef78d87847f/src/components/styled/button.css#L202

But you can use `btn btn-ghost` or `btn btn-link` on any element. I hope this is what you're looking

[2021-08-01 12:32] pavangayakwad commented on #40
Thank you very much! ``btn btn-link`` did the trick for me!

[2021-08-01 14:27] workingxx92 commented on #115
@saadeghi
I cannot close dialog color when click outside

[2021-08-01 18:59] saadeghi commented on #115
@workingxx92 I don't see any problem 🤔
https://play.tailwindcss.com/dTrEqcgUNE

https://user-images.githubusercontent.com/7342023/127782302-7f646172-7e28-4a1e-a98b-14f4f3a4b600.mp4

[2021-08-01 23:57] workingxx92 commented on #115
@saadeghi .
Please run on firefox. I cannot close dialog color when click outside on firefox

[2021-08-02 00:53] saadeghi commented on #115
Firefox opens OS color picker as a popup window. Some people like it this way, some don't.
Anyway, it's not possible to make a custom color picker in a CSS library like daisyUI, so if you need a custom color picker, you need to use a JS plugins for that.

**A few to mention:**
- https://github.com/jaames/iro.js
- https://github.com/Simonwep/pickr
- https://github.com/casesandberg/react-color
- htt

[2021-08-02 00:53] #115 closed

[2021-08-02 15:38] flurie opened #116 "Can't click dropdown items in Safari"
It appears that elements in dropdown menus cannot be clicked in Safari v14.1.2.

You can try this out in this example. In Chrome, clicking an item in the dropdown fires the onclick, but in Safari it does not.

https://codepen.io/flurie/pen/xxdJKYz

[2021-08-02 16:48] saadeghi commented on #116
@flurie  You need to add a `tabindex="0"` to the `dropdown-content` too:
https://codepen.io/saadeghi/pen/xxdJxmb

Safari has a different behavior about focus. If we want a clickable item inside the dropdown, we need to make the `dropdown-content` focusable so the menu item can be clicked while the dropdown still has the focus. otherwise, when we click the menu item, safari first removes the focus

[2021-08-02 16:48] #116 closed

[2021-08-02 16:54] ericclemmons opened #117 "Support .daisy- prefix"
On existing sites, `.btn`, `.card`, etc. are extremely common.

Can https://daisyui.com/docs/config include an option for `prefix` for incrementally adopting daisyUI?

[code]

[2021-08-02 17:44] saadeghi commented on #117
@ericclemmons  I'm afraid I can't add it as an option (like you mentioned) unless:
- I do major changes and rewrite all components as css-in-js
- or I add some PostCSS dependencies (which I prefer not if possible)

However, you can use [Tailwind's `prefix` option](https://tailwindcss.com/docs/configuration#prefix)
And if yo want the prefix only for daisyUI classes (not all Tailwind classes), I rec

[2021-08-02 17:44] #117 closed

[2021-08-03 09:51] sbrannstrom commented on #43
We're having the same issue with Angular 12 + Angular Material Design + Ionic Framework + Tailwind (added through ng add ngx-tailwind).

We get almost the same error:
[code]
although there's an error higher up:
[code]
The problem is that `@angular-devkit/build-angular` depends on PostCSS version 8.3.5 and postcss-preset-env 7.0.36 which seems to cause the issue.

We don't have any `postcss.config.

[2021-08-04 10:56] ZvezdocheTag opened #118 "RGBA colors doesn't work inside `mytheme`"
I have been trying to implement my custom color config inside `daisyui`, but found that rgba colors doesn't work,
it haven't been supported yet, or maybe some additional configuration required?

Example:
[code]

  "daisyui": "^1.10.0",

[2021-08-04 11:43] saadeghi commented on #118
For now, only hex colors are supported inside config.

The reason is that I don't use the exact color values from config, I [convert](https://unpkg.com/browse/daisyui@1.11.0/colors/colorNames.js) the human readable color names (`primary`, `secondary`) to CSS variables (`--p`, `--s`) and I get the `H`,`S`,`L` values (like `259` `94.4%` `51.2%`) from the solid hex color (like `#570df8`) this way I c

[2021-08-04 11:43] #118 closed

[2021-08-04 12:37] ZvezdocheTag commented on #118
Got it, thanks.

I see that you write your custom solution to convert fromHexToHsl, but maybe will be useful this module https://github.com/gka/chroma.js
It's pretty straightforward, and you don't need care about color input format, just directly convert to any other type, like:

[code]
https://vis4.net/chromajs/#color-hex

I did some script to convert colors for myself with nested structure, mayb

[2021-08-05 10:11] ctwhome opened #119 "Themed Scrollbars"
It might be a good addition to add themed scrollbars that adapt to the selected global theme:

I got it working with the simple CSS rules:

[code]

I just couldn't get the theme variables to work with it var(--b1) for example

[2021-08-05 10:45] ctwhome commented on #119
oke I got it with \`hsla(var(--b1));\`

[code]

[2021-08-05 11:20] saadeghi commented on #119
@ctwhome yes. CSS variable like `--p` only have the value of H,S,L so it should be used like `hsl(var(--p))`
I will add custom scrollbars in future versions.

[2021-08-05 11:26] ctwhome commented on #119
it sounds like a good idea!

[2021-08-05 11:26] #119 closed

[2021-08-06 06:43] ctwhome opened #120 "is it possible to still load all themes with a custom one?"
I am trying to add my custom theme but it seems that it overwrite the rest of the theme, so the theme switcher doesn't work anymore. 

I tried this solution but doesn't load the themes, in fact, it breaks the tailwindcss.config.js file 

![](https://user-images.githubusercontent.com/4195550/128467698-3805a183-ccd6-4c47-88ee-35ea923997cf.png)

[2021-08-06 07:59] saadeghi commented on #120
@ctwhome You can add theme names next to your own theme object. [[see this example](https://github.com/saadeghi/daisyui/blob/master/examples/custom-themes/tailwind.config.js)]
If you want your own custom theme **+** all other themes, you need to name them all.
In below example, `mytheme` will be default theme, `myothertheme` will be another custom theme and then the rest of themes:
[code]

Please

[2021-08-06 07:59] #120 closed

[2021-08-06 08:11] ctwhome commented on #120
working thanks!

[2021-08-06 15:42] workingxx92 opened #121 "Add footer component"

[2021-08-07 07:48] justingolden21 commented on #121
![image](https://user-images.githubusercontent.com/30274440/128592980-855ac29c-62f8-4dc0-834c-9a4f5fc817dd.png)

the contrast of the logo in the footer is atrocious

[2021-08-07 11:54] hoodpear opened #122 "RTL option has issues"
There is an issue with the **RTL** option When I enable it and compile **tailwind**, I go to the browser and I try **toggles**. I find them not working. They switch the colors and background but the circle does not move.

### Here I attached my TAILWIND.CONFIG.JS file:

[code]

[2021-08-07 23:45] filipot opened #123 "Antialiasing"
You probably already know about this, but there seems to be some problem with antialiasing, making the checkbox look like its bitten off:
![antialiasing](https://user-images.githubusercontent.com/3662005/128616371-6b8f798a-2436-4517-986c-31c023d572ae.png)
Sometimes it looks really ugly due to that.
Running on an 1080p screen.

Btw loving Daisyui! It looks smooth :D, good job!

[2021-08-09 07:21] workingxx92 opened #124 "How to close/open modal programmatically"
Hello,
How to open/close modal programmatically

Thanks

[2021-08-09 08:43] saadeghi commented on #124
There are 2 types of modal: https://daisyui.com/components/modal/
First one works with URL hash (anchor link) so you if you change the URL using JS, you can open/close the modal.
Second one works with a hidden checkbox, so you can check/uncheck that checkbox to open/close the modal.

Please let me know if you have any questions.

[2021-08-09 08:43] #124 closed

[2021-08-09 09:49] workingxx92 commented on #124
Hi @saadeghi
It's not show modal programmatically
<img width="663" alt="Screen Shot 2021-08-09 at 4 46 45 PM" src="https://user-images.githubusercontent.com/86577210/128688132-a1305d06-d360-4367-88b2-edb5214c7e18.png">

Code:
https://play.tailwindcss.com/9VIa7IYlHj

[2021-08-09 10:49] saadeghi commented on #124
@workingxx92 I'm not sure if I understand you correctly.
If you you want the modal to be open by default, you just need to add `checked` to checkbox:
[code]
If you want to check/uncheck the checkbox with JS:
[code]

[2021-08-09 12:24] #122 closed

[2021-08-11 09:20] Hakamate opened #127 "Opacity on alert"
![image](https://user-images.githubusercontent.com/33601556/129003046-af9288c4-c6d6-4831-b9e2-405a388134c2.png)

Hello, I see something weird with alert components.

They have an opacity affected on them.
So we can't really use them as notifications (as fixed position).

Maybe using a system like bg-red-500 can solve it ?

[2021-08-11 09:45] saadeghi commented on #127
@Hakamate I am planning to apply some color changes for next major version to fix this.
Until then, you can customize the colors using utility classes like `bg-` and `text-`:
[code]
Example: https://play.tailwindcss.com/z4npFaMXey

[2021-08-11 09:45] #127 closed

[2021-08-11 22:40] pooyaEst opened #128 "Filling space between slider and start of element with a different color in form-range"
Hi pouya thanks for this great work!

i think it would be cool if there was an option to make the space between slider and start of the range element filled with a different color.

kinda like this :
![Slider](https://i.ytimg.com/vi/3Eb6FtjkZ_k/maxresdefault.jpg)

if the ballon effect also could be added that would be even more awesome.

[2021-08-11 23:45] saadeghi commented on #128
I wish I could 😔
Unfortunately, the only things we can style for a input range are `-webkit-slider-thumb` and `-webkit-slider-runnable-track` (for Firefox: `-moz-range-thumb` and `-moz-range-track`) so if you want to fill half of the range with a different color, there are 3 options:
1. Use the browser's default style
2. Set a custom linear gradient as the background and change the position of gra

[2021-08-11 23:45] #128 closed

[2021-08-12 11:50] Bandes opened #129 "Better documentation for modals"
I have been trying to follow the documentation for the modal component, but when I add the markup given in the example I cannot get a modal to appear - all of my modal content just appears directly as part of the page content. Is there javascript that I need to link, or another trick to it?

[2021-08-12 12:04] saadeghi commented on #129
@Bandes There is no trick and no JS dependency.
Here's the the same example on Tailwind Play: https://play.tailwindcss.com/kvjZQeGpbG
Please make sure your CSS file is building correctly and purging the correct files.

If you could provide a small example (Github repo, Codepen, etc...) so I can reproduce the problem, that would be great.

[2021-08-12 12:13] Bandes commented on #129
Thank you - I am pretty sure this was all just user error. It is working now after I double-checked my config and recompiled a few times. Sorry for the n00b ticket :)

[2021-08-12 12:13] #129 closed

[2021-08-12 14:15] Hakamate opened #130 "using daisyui on nuxt"
Is this possible to use daisyui config on Nuxt.js config ?

I'm acutally doing it like this but without config (it's works) :
[code]
and want to config it maybe like this, cause that do not work to add daisyui property inside tailwind.config.js :
[code]

[2021-08-12 14:23] Hakamate commented on #130
Ok my bad, my tailwind config was bad (daisyui inside theme property)

[2021-08-12 14:23] #130 closed

[2021-08-13 02:58] PterPmnta opened #131 "Error: "declare module 'daisyui';""
I had created a project in Angular 12 and will decide to install this CSS component library based in Tailwind, for learning too. But this has been really weird, I have been following the steps, but can't work. A message to appear in my VS Code, say this

`Test "npm i --save-dev @types/daisyui" if exists or add new file with the statement (.d.ts), and this must include "declare module 'daisyui'".`

[2021-08-13 05:24] saadeghi commented on #131
@PterPmnta do you get this error when you simply `npm  I daisyui`?
Can you please make a small GitHub repo so I can reproduce this problem?

[2021-08-13 13:01] PterPmnta commented on #131
Yes, I install using that command, even remove and reinstall, but still appear the error.

I started a project with angular 11.X new project and clean, the first I did was update angular, with the intention that Tailwind was supported by defect, and after that, I found this library and try to install it.

Is possible for the update in my project to generate this error?

What recommended you, creat

[2021-08-13 13:01] PterPmnta commented on #131
Yes, I install using that command, even remove and reinstall, but still appear the error.

I started a project with angular 11.X new project and clean, the first I did was update angular, with the intention that Tailwind was supported by defect, and after that, I found this library and try to install it.

Is possible for the update in my project to generate this error?

What recommended you, creat

[2021-08-13 13:01] PterPmnta commented on #131
Yes, I install using that command, even remove and reinstall, but still appear the error.

I started a project with angular 11.X new project and clean, the first I did was update angular, with the intention that Tailwind was supported by defect, and after that, I found this library and try to install it.

Is possible the update in my project generate this error?

What recommended you, create anoth

[2021-08-13 14:36] saadeghi commented on #131
@PterPmnta Ok, I started a new Angular project:
[code]

[2021-08-13 14:43] saadeghi commented on #131
@PterPmnta Ok,
1. I started a new Angular project:
[code]
2. Installed Tailwind and daisyUI:
[code]
3. Added `tailwind.config.js`
[code]
4. added these to styles.css
[code]
5. Run app:
[code]

And everything works perfectly.
Here's the source: https://github.com/saadeghi/daisyui/tree/master/examples/angular
It's Angular version `12.2.0` I'm not sure about other versions but there shouldn't be a pr

[2021-08-13 19:21] PterPmnta commented on #131
I'll go try, and answer with the result. Thanks

[2021-08-13 21:34] Bandes opened #132 "Table style improvements"
I'm looking at the table styles and I have two small requests

1. It seems that `table-zebra` and `active` conflict with one another, the `active` class only seems to affect every other row of a `table-zebra` table
2. It would be very helpful to have a hover style defined as an option

[2021-08-14 04:53] PterPmnta commented on #131
The issue still happens, I don't know why just don't work at all.

Error: [Error](https://imgur.com/M8cwqGX)
Buttons: [Buttons](https://imgur.com/jl03Uxy)
Code; [Code](https://imgur.com/l9BrpNo)

My `package.json` same as the example you sent me to the link.

[code]

I would download just the folder with the angular example, I could do that.

[2021-08-14 05:01] PterPmnta commented on #131
Finally, I did, I solved the problem run this command, `ng add @ngneat/tailwind`

[2021-08-14 05:05] #131 closed

[2021-08-14 21:50] mel-in-a opened #133 "Toggle and range slider are not working but radio button are working fine"
Hello,

I' m using daisy ui with react and as said in the subject range slider and toggle animation are not working.

here is my tailwind config

`module.exports = {
  purge: ['./src/**/*.{js,jsx,ts,tsx}', './public/index.html'],
  darkMode: false, // or 'media' or 'class'
  theme: {
    extend: {},
  },
  variants: {
    extend: {},
  },
  plugins: [
    require('daisyui'),
  ],
  daisyui: {

[2021-08-14 22:59] apyredev opened #134 "Missing images in table with visual elements example on official website"
Hello, looks like some imports are broken [here](https://daisyui.com/components/table/) on _table with visual elements_
Very nice components kit, I love it :) Building my personal website with it and SvelteKit
![Capture](https://user-images.githubusercontent.com/18008688/129462174-2e9ad0df-41a0-49cd-ac47-5a2ed982406f.PNG)

[2021-08-15 01:33] saadeghi commented on #133
@mel-in-a  Can you make a small repo on GitHub so I can reproduce this issue?

[2021-08-15 02:36] mel-in-a commented on #133
hello and thank you for this quick answer. i can't really share my repo it's the beginning of a private project. Do you have an idea what could explain that ? can i try something ?

[2021-08-15 03:29] saadeghi commented on #133
@mel-in-a
- make sure your purge config is [working correctly](https://tailwindcss.com/docs/optimizing-for-production#writing-purgeable-html)
- make sure the class names are correct. No typo, etc...
- make sure you're not using an old version of daisyui. `range` was added in version `1.11.0` so older versions won't have it.
- make sure there aren't any external CSS affecting the the exact styles.

[2021-08-15 14:10] mel-in-a commented on #133
Hello, im' using the right version
![image](https://user-images.githubusercontent.com/303499/129481151-ee13137a-20b9-4d03-9370-e739a8f5b335.png)

but  'have a message in console that could help us :
![image](https://user-images.githubusercontent.com/303499/129481303-33df0eaa-9c82-4d84-9852-d73b885586e8.png)

[2021-08-15 14:13] mel-in-a commented on #133
it's solved :

  <input type="checkbox" defaultChecked className="toggle"/>
i used the defaultChecked

Thank you for your help, you framework is wonderful ! Have a nice day

[2021-08-15 14:13] #133 closed

[2021-08-15 17:29] #134 closed

[2021-08-15 18:26] apyredev commented on #134
Looks way nicer now, cool!

[2021-08-15 20:35] MiraiSubject opened #135 "Add auto dark mode/light mode switching based on system preference"
This feature is currently only included in the default light/dark mode setup: https://github.com/saadeghi/daisyui/blob/ae4f2a1d9e2e957ff683feb49d7fe7f0cd0ed312/src/index.js#L119-L120

Would be nice if you could do something like `mytheme-light` and `mytheme-dark` and have it be picked up the same way.

[2021-08-16 16:08] workingxx92 opened #136 "[modal] - Make overlay full height"
<img width="1126" alt="Screen Shot 2021-08-16 at 11 05 54 PM" src="https://user-images.githubusercontent.com/86577210/129594548-3690941b-c139-4b18-a74b-44854d598fc2.png">

[2021-08-16 16:27] saadeghi commented on #136
@workingxx92
On daisyUI site I had to put the modal nested inside the page content because of my components structure. I should fix that, but I must stress that it's not a problem with the component itself. It's a problem with the demo site.

This won't happen if you put the `modal` after the page content (for example before`</body>`)

This is also a common practice for all other modal components

[2021-08-17 00:34] workingxx92 commented on #136
Hi.
I tried. It not woking in Vuejs

[2021-08-17 01:34] saadeghi commented on #136
@workingxx92 Here's [a Vue project](https://github.com/saadeghi/vuejs-daisyui-modal) and it works fine

[2021-08-17 02:58] workingxx92 commented on #136
I think the issue is related to the scrolling bar. How to fix it

[2021-08-17 08:48] saadeghi commented on #136
@workingxx92 what's is the issue with scrollbar exactly? Because I don't see any issues 👀

[2021-08-17 17:20] #132 closed

[2021-08-18 03:19] musosoft opened #137 "Tailwind /w daisyUI Dark Mode workflow"
Hi,

Currently, I'm using your `theme-change` package to toggle `mytheme-light` and `mytheme-dark`.  Now let's say I want to use Tailwind's '[dark:](https://tailwindcss.com/docs/dark-mode)' prefix e.g.:
`bg-white dark:bg-gray-800`

What would be the best way to make it compatible with the daisyUI dark theme, along with `theme-change` toggle and `darkMode: 'media'` in `tailwind.config.js` to suppor

[2021-08-18 08:42] saadeghi commented on #137
@musosoft daisyUI themes and Tailwind's dark mode are 2 different methods. I don't think using both at the same time makes sense.

Tailwind color names (gray-200, red-500, etc...) are the actual name if the colors. So when you want a dark text on light background you need to use something like `text-gray-900 bg-gray-100` and also `dark:text-gray-100 dark:bg-gray-900` for the dark mode.
There's no

[2021-08-18 11:50] gaurovsoni opened #138 "Modal opens at bottom of the screen."
Details: when using with windicss, the modal opens up at the bottom of the screen.
![Screenshot from 2021-08-18 17-17-28](https://user-images.githubusercontent.com/9216097/129893192-ea3992f3-3802-4d49-afa6-0296bfeaeffe.png)

[2021-08-18 12:01] tom-acceleratecompliance opened #139 "Font family in custom themes"
Hi, thanks for the fantastic library.

I feel like I am missing something obvious, I'm looking at building a custom theme and defining the font family for the theme, like some of the inbuilt themes do (wireframe for example).

I've found the definitions of the inbuilt themes and they use the "fontFamily" key, but when I add this to my custom theme, nothing happens.

Is this possible?

Thanks

[2021-08-18 12:05] tom-acceleratecompliance commented on #139
Sorry for wasting your time, that works perfectly, I just wasn't passing the config in correctly.
Thanks!

[2021-08-18 12:05] #139 closed

[2021-08-18 12:26] saadeghi commented on #139
@tom-acceleratecompliance Good.
Here's an example, if anyone else looking for that:
https://play.tailwindcss.com/QtVDNrydis?file=config

[2021-08-18 12:46] RSickenberg opened #140 "Buttons components should not be Capitalized"
Hello !

I'm not sure if it is intended or not, but the buttons always capitalize the text inside, and I have to add a `normal-case` modifier.

Thanks for this lib !

Regards

[2021-08-18 12:54] RSickenberg commented on #137
@saadeghi IMO, what would be cool is to be able to use `dark:` modifier form Tailwind to change the color 😃,

Like `btn-default` and `dark:btn-defaultDark`.

[2021-08-18 13:23] pavangayakwad opened #141 "Modal sizes"
How can I set the modal sizes? sm, md, lg and xl?

Please assist.

[2021-08-18 13:39] saadeghi commented on #137
@RSickenberg I mean... It doesn't fix any problem 🤷‍♂️

[2021-08-18 13:44] saadeghi commented on #141
@pavangayakwad It doesn't have size. But you can use width/height utility classes like `w-96` or `h-96`

Please let me know if you have any questions.

[2021-08-18 13:44] #141 closed

[2021-08-18 13:57] musosoft commented on #137
@saadeghi appreciate a fast and comprehensive answer. I would like to describe my feeling and point of view, hope it can be well digested on your side.

I have discovered daisyUI just a few days ago. I was amazed about how nice the components are, and thought it would ease the development of my blog. I already coded it for plenty of time and it's full of Tailwind classes. My idea was that I will j

[2021-08-18 13:58] pavangayakwad commented on #141
Thanks for your quick reply.

It seems the sizes are not really affecting even when I set something like

`<div className="modal-box w-full">`

or

 `<div className="modal-box w-10/12">`.

The `w-{}` have limited sizes so I was exploring other large size options.

![image](https://user-images.githubusercontent.com/1834890/129911118-196951d3-ab2b-43f6-b007-9a76d637f851.png)

[2021-08-18 17:02] saadeghi commented on #137
@musosoft I understand but the whole reason I used this color system was to make things easier and cleaner.
Using Tailwind's dark-mode, we need to add `dark:` prefix to every color (which must change)
[code]
- ☹️ You can't have a third theme. only light/dark
- ☹️ You have to add a `:dark` class for every color utility class you have in order to define a different color for dark mode.
- ☹️ You end

[2021-08-18 17:23] saadeghi commented on #140
@RSickenberg This is intended.
In almost all default themes, buttons are capitalize. This is adapted from Material Design buttons.
There are 3 ways to change that:
- using `normal-case` utility class on all buttons
- [adding a style to your css](https://play.tailwindcss.com/79qJUqnN8n?file=css):
[code]
- If you're using a custom theme, [set the button style in config](https://play.tailwindcss.com/

[2021-08-18 17:23] #140 closed

[2021-08-18 17:30] saadeghi commented on #141
@pavangayakwad
Try adding a `max-w-full` as well
[code]
[code]

[2021-08-18 18:24] pavangayakwad commented on #141
This worked like a charm!

Updating the documentation with details should help who are looking for these tweaks! This is approach is far far better idea than giving limited sm, md, lg, xl kind of settings.

Indeed a great work from you guy!!! keep it going! 👍 and Thank you very much @saadeghi for taking time and responding.

[2021-08-18 20:49] carlosg2 opened #142 "Drawer is not working when used drawer-end and drawer-mobile"
Remarkable effort behind DaisyUI!

Question
Is there a way to use drawer-end and drawer-mobile in combination?
Current result misplace drawer-side component.

Thanks in advance

[2021-08-20 07:26] sidharthv96 opened #143 "Tooltip hover bug"
Tooltip shows up when hovering over the invisible content, and not just the button.

In the example, https://daisyui.com/components/tooltip if we approach the button from the top, the tooltip will pop up before reaching the button.

This is problematic as we were using tooltip where the tip content would overlap with other elements, so the elements underneath cannot be accessed.

[2021-08-20 07:34] sidharthv96 commented on #143
Currently we are using this workaround. https://stackoverflow.com/a/30104683

[2021-08-20 12:40] saadeghi commented on #136
I'm closing this. Feel free to reopen again with more information provided.

[2021-08-20 12:40] #136 closed

[2021-08-20 14:12] vuejstime commented on #124
is there any way to toggle a class to open and close modal? i think it's much more easier with js frameworks

[2021-08-20 15:51] saadeghi commented on #124
@vuejstime Good idea. I will add it by tomorrow.

[2021-08-20 21:53] #137 closed

[2021-08-20 21:54] #142 closed

[2021-08-20 21:54] #143 closed

[2021-08-21 03:29] sidharthv96 commented on #143
That was very quick!
Thanks a lot @saadeghi. Love using DaisyUI.

[2021-08-21 14:45] workingxx92 opened #144 "Custom font not working"
Could you tell me where wrong?

**assets/css/tailwind.css**
[code]

**File tailwind.config.js**
[code]

[2021-08-21 15:02] saadeghi commented on #144
@workingxx92 FontFamily on your config must be like this:
[code]
Not this:
[code]
See docs: https://tailwindcss.com/docs/font-family#font-families
Example: https://play.tailwindcss.com/fdCbXUtWaE?file=config

[2021-08-21 15:02] #144 closed

[2021-08-22 06:24] pooyaEst opened #145 "Divs appear vertically in footer"
This is how the footer looks like :
![Screen Shot 2021-08-22 at 10 52 14 AM](https://user-images.githubusercontent.com/426713/130344744-dfade831-1aa8-4329-b8cb-62e90b2d88ae.png)

i think you intended to make them look more like this : (added flex and justify-between classes to footer html tag)

![Screen Shot 2021-08-22 at 10 51 56 AM](https://user-images.githubusercontent.com/426713/130344767-6cda

[2021-08-22 21:07] #145 closed

[2021-08-23 05:57] 112RG opened #146 "Question - Getting color values via Javascript"
Hi first off I wanted to say thank you for this library! It's wonderful to use. I am loving the easy theme switching. Just a quick question.

I have a canvas element that is drawing a visualization to music I am setting the canvas background via
`this.myCtx.fillStyle = getComputedStyle(document.getElementsByClassName('bg-base-100')[0]).backgroundColor` But this is very annoying since i need to hav

[2021-08-23 06:23] Manitej66 commented on #30
Hey, can give more info on the issue?

[2021-08-23 11:03] saadeghi commented on #146
@112RG color values are stored inside CSS variables. For example:
[code]
See name of CSS variables [here](https://github.com/saadeghi/daisyui/blob/master/src/colors/colorNames.js)
So you should be able to use `hsl(var(--VARIABLE))` as the color name in your JS.
Please let me know if you have any questions.

[2021-08-23 11:03] #146 closed

[2021-08-23 13:34] saadeghi commented on #136
@workingxx92 There should't be a problem if you put the modal after the page content.
[code]
If there is still a problem, I need you to make a small example repo on Github so I can reproduce the issue.

[2021-08-23 13:43] saadeghi commented on #121
fixed in 8227925041a6a4ed434e48db0805c33443beba2c

[2021-08-23 13:43] #121 closed

[2021-08-23 14:01] workingxx92 commented on #136
HI. I don't put the modal after the page content.

[2021-08-23 15:55] workingxx92 commented on #136
@saadeghi
Please make a modal component that doesn't need put code modal after the page content (before</body>)

[2021-08-23 23:26] justingolden21 commented on #121
That's a little better, thanks for fixing this 😄

![image](https://user-images.githubusercontent.com/30274440/130532013-47351f88-5be6-4bb7-8454-2699e21664d3.png)

[2021-08-24 00:39] workingxx92 opened #149 "How to lock body scroll when modal is open"
Hello
By requirement. So, I cannot put code modal after the page content (before `</body>`)
How to lock body scroll when modal is open?

Thank

[2021-08-24 03:04] kaushalyap opened #150 "Does unused styles from the plugin get purged"
Awesome work.!

I would like to know if the unused styles from plugin get purged with typical purge config like below

` purge: ['./src/**/*.{js,jsx,ts,tsx}'],`

or [should we set purge mode to all](https://tailwindcss.com/docs/optimizing-for-production#removing-all-unused-styles) and manually provide paths

[2021-08-24 03:52] saadeghi commented on #150
@kaushalyap yes it will get purged just like other tailwind styles. No config needed.

[2021-08-24 03:52] #150 closed

[2021-08-24 04:05] T-Alkathiri commented on #150
Thank you.

[2021-08-24 07:02] tom-acceleratecompliance opened #151 "Table styling on non-tables."
Hi, thanks again, the more I work through daisy the more I'm enjoying it.

Quick question, due to a limitation some of our upstream tooling, our tables look like this:

[code]

Do you know if there is a way, build-side, to extend the table styling to work in this scenario, or if non-table, table styling could be supported directly?

Cheers

[2021-08-24 10:57] 112RG commented on #146
Thank you this worked!

[2021-08-24 12:09] RSickenberg commented on #140
I used `normal-case` indeed. If it's not a bug, it's okay for me! :-)

[2021-08-24 15:32] DanDev95 opened #152 "Redo dark mode"
Please redo the dark mode, or add a new darkmode that actually looks more like the standard darkmode on websites. This one is too light (almost like silver) and doesn't really look like a true dark mode.

[2021-08-24 15:36] kaushalyap commented on #150
@saadeghi  Thanks for reply, glad to know manual config is not necessary.

Another question Read me say it is 2KB when gzipped but [bundlephobia say 31.7KB gzipped.](https://bundlephobia.com/package/daisyui@1.13.2) which is correct? 2 KB vs 31.7KB

[2021-08-24 17:58] saadeghi commented on #150
@kaushalyap Bundlephobia calculates the whole package, including [all css and js files](https://unpkg.com/browse/daisyui@1.13.2/) in the package.

[2021-08-24 18:03] dk009dk opened #153 "Help needed for scrollbar behaviour while using drawer"
daisyUI :2.13.2
tailwindcss:2.2.7

[Play Tailwind Link](https://play.tailwindcss.com/YKVNFMZ9XH)
https://play.tailwindcss.com/YKVNFMZ9XH

I'm using two daisyUI  drawers.
One drawer for Navbar and another one for sidebar.
But problem is related to scroll behavior.
You can see in [play tailwind](https://play.tailwindcss.com/YKVNFMZ9XH) there are two scrollbars .I want only one with full page scrolli

[2021-08-24 23:50] workingxx92 opened #154 "Please make table responsive best"
None responsive
<img width="840" alt="Screen Shot 2021-08-25 at 6 47 39 AM" src="https://user-images.githubusercontent.com/86577210/130704240-e3ef6043-d816-491c-90b6-21c7aac1092e.png">

responsive
<img width="467" alt="Screen Shot 2021-08-25 at 6 48 29 AM" src="https://user-images.githubusercontent.com/86577210/130704307-4eb468aa-dd0c-4026-98a9-5112c60341db.png">
 Thanks

[2021-08-25 02:12] kaushalyap commented on #150
@saadeghi I am aware of it.

Sometimes bundlephobia calculations are not accurate [see tailwindcss](https://bundlephobia.com/package/tailwindcss@2.2.7) for example

My question is how many KBs added to the bundle by `daisyui`?

[2021-08-25 02:38] tom-acceleratecompliance opened #155 "[Suggestion] Add `w-full` to footers."
Hi, just trying out the footer components, they are fantastic.
I've had some weird rendering when the footer are siblings of some other elements, they end up side by side in a row.
This seems to be solved by adding `w-full` to the footer which works great, but I can't think of a use-case where you wouldn't want w-full, so just wondering if they should be added to the footers by default?

Thanks!

[2021-08-25 02:39] saadeghi commented on #150
@kaushalyap 31KB. but I think I should remove that Bundlephobia badge because what actually matters is the size of CSS when it's added as a Tailwind CSS plugin and that CSS gets purged for production.
So in reality it doesn't matter that [tailwind.min.css](https://unpkg.com/browse/tailwindcss@2.2.7/dist/) is 2.93MB or daisyUI's [styled.css](https://unpkg.com/browse/daisyui@1.13.2/dist/) is 89.7KB

[2021-08-25 03:19] saadeghi commented on #155
@tom-acceleratecompliance you're right. Will be fixed today.

[2021-08-25 05:04] saadeghi commented on #153
@dk009dk That's a weird scenario and I don't think it's a good UX practice either.
Anyhow, can be fixed like this: https://play.tailwindcss.com/JqjVjltIKB?file=css
I added a `inner-drawer` class and this CSS:
[code]

[2021-08-25 05:04] #153 closed

[2021-08-25 05:36] saadeghi commented on #152
@DanDev95 I prefer not to change the colors of themes because they are currently being used on many projects.
But you can add your own themes, which means you can have the same `dark` theme with the colors you want. See this example: https://play.tailwindcss.com/as5ew5YnXr?file=config

Please let me know if you have any questions

[2021-08-25 05:36] #152 closed

[2021-08-25 07:06] tom-acceleratecompliance opened #156 "Support breadcrumbs without ul/li"
Hello, apologies for the issue spam today.
I was wondering if it's worth extending the breadcrumbs to work without requiring the ul/li elements. I can take the core styles and adapt them to work for my own project, but just wanted to float the suggestion.

Thanks!

[2021-08-25 07:16] saadeghi commented on #156
@tom-acceleratecompliance May I ask why are you using some element other than `ul` and `li` ?
Because to me, a `<ul> list seems like the best element for a list of links.

[2021-08-25 07:22] tom-acceleratecompliance commented on #156
Hi @saadeghi - 100% recognise this might be too much of an edge case to include in the library.

In our case, our breadcrumbs are automatically generated from the users requirements using custom svelte components, due to that we need the tag to be:

[code]
This is the same reason for the request #151 - which again I fully understand is an odd requirement, however, with the emergence of web compone

[2021-08-25 07:26] tom-acceleratecompliance commented on #156
To follow on - lots of pushback in the svelte community to fix this at the svelte level, which would support:

`<svelte:component this={CustomClass} type='ul'>`

https://github.com/sveltejs/svelte/issues/2324

But unfortunately still hasn't been actioned in the last year.

[2021-08-25 07:31] saadeghi commented on #30
@Manitej66 Sure.
Example: https://play.tailwindcss.com/4DqBsbrhiQ?size=1200x720
The problem is when the image height is less than the `card-body` content, there will be a empty space under the image on desktop viewpoint. this is not unexpected behavior but it doesn't look good.
I'm not sure how to improve this. potential solutions could be:
- cropping the image when the ratio is unexpected
- keepi

[2021-08-25 08:15] saadeghi commented on #156
@tom-acceleratecompliance Does `<svelte:component>` create a new `<div>` or they just insert anything from the component file?
Looking at [this example](https://svelte.dev/tutorial/svelte-component) seems like you can have any tag inside the component and it just loads them. So something like this might work?
[code]

[2021-08-25 11:43] kaushalyap commented on #150
@saadeghi I think you may remove the bundlephobia badge, since it seems like unreliable tool as I showed in the tailwindcss case. You may also add a note under the 2KB point in the README about purging of unused CSS.

[2021-08-26 02:16] kpaquino2 opened #157 "Click the dropdown button again to close dropdown"
Is there a way to make it so the dropdown closes when the dropdown button is clicked while the dropdown is open?

[2021-08-26 15:03] workingxx92 opened #158 "Modal wrong focus"
Hi
https://user-images.githubusercontent.com/86577210/130987380-d379d86d-a30a-4daf-b67a-082ec330babb.mov

[2021-08-27 11:09] sambarfoot opened #159 "click away close model"
is it possible to close a modal on click away?

[2021-08-27 11:14] #159 closed, assigned to nobody

[2021-08-27 14:12] camandel opened #160 "stats not perfectly centered"
Centered stats values are slightly placed to the left (actually visible only on small screens):
![stat](https://user-images.githubusercontent.com/5462153/131138387-83defe86-8381-44c4-a22c-808156b5c051.jpg)
Screenshot taken directly from [stat component page](https://daisyui.com/components/stat). Same result with Chrome and Firefox.

[2021-08-27 18:55] svyatik opened #161 "Question - How to extend and modify default themes"
Hi! Let's say I want to use a build-in "emerald" theme in my project but I want to change its primary color...
Can I do this?

This is the way I thought it should've worked, but it isn't, of course :)
Perhaps there's already exists some functionality to modify build-in themes?

[code]

In any case, huge thanks for making the DaisyUI!

[2021-08-27 19:07] #161 closed, assigned to nobody

[2021-08-27 23:36] MShopan opened #162 "This quession not issue"
How open and close modal without JavaScript ?

[2021-08-27 23:53] saadeghi commented on #162
@MShopan you don't need JavaScript.
The first example [on the site](https://daisyui.com/components/modal) uses anchor link to show the modal. The second example uses a hidden checkbox to open/close modal.

Please let me know if you have any questions.

[2021-08-27 23:53] #162 closed

[2021-08-28 02:12] Yrobot opened #163 "do we have react-daisyui? or such project in progress."
i noticed that all our components is html styled without base interaction logic, it is not so friendly to React user, it will be very great to have a react-daisyui.

[2021-08-28 02:29] saadeghi commented on #163
@Yrobot I don't agree that daisyUI is not friendly for React devs. I'm currently using it on 4 react projects. When it's just CSS, it works everywhere. it doesn't matter if the the framework is React or Vue or etc...

Anyhow, I'd like to make a react version eventually but nothing is in progress right now as I'm aware (maybe someone else from the community is developing one)

[2021-08-28 02:29] #163 closed

[2021-08-28 03:38] saadeghi commented on #163
@Yrobot Of course I appreciate contributions. If anyone is willing to invest time for a React wrapper for daisyUI I can include it in the main package or if it's a separate package (under the same license) I can add a link to that.
But currently, for me, a React wrapper is not a priority and I'd rather spend time on improving the current components and adding new ones.

[2021-08-28 06:32] #158 closed

[2021-08-28 15:21] Bandes opened #164 "Sticky footer at bottom of page?"
I'm not sure if it's possible to do this without javascript, but it would be awesome to have a footer that was pinned to the bottom of the browser window. Could that be added?

[2021-08-28 16:11] saadeghi commented on #164
@Bandes It's possible using flexbox for the layout: https://play.tailwindcss.com/mxitzxsDyW?size=1000x720
Let me know if you have any question.

[2021-08-28 16:11] #164 closed

[2021-08-28 18:41] janat08 opened #165 "Button outline focus state"
Buttons with focus state (after click.) Semantically it's like showing loading state if it's not spa. There should be an option between selecting animation and state transition. https://www.tailwind-kit.com/components/buttons

[2021-08-28 19:52] saadeghi commented on #165
@janat08 daisyUI only shows rings on [`:focus-visible`](https://caniuse.com/?search=focus-visible) (navigation using keyboard)
If you need rings when you click the buttons as well, you can add this CSS: https://play.tailwindcss.com/jZ8OxOiPjx?file=css

[2021-08-28 19:52] #165 closed

[2021-08-29 06:46] Aravin opened #166 "How to apply styles to dynamic content? i.e content from Strapi CMS"
Hi,

I have my backend build on Strapi CMS and the frontend is Next.js (Tailwind + Daisy UI).

I love the mockup code.

Can I use mockup-code within my content that comes from CMS?

Example data

[code]

[2021-08-29 07:28] saadeghi commented on #166
@Aravin I'm not sure how Strapi works. Somewhere it's converting the markdown to HTML and and you should see if you can add classes to that HTML or not.

If you can't add classes, you can just manually add the style of mockup for your own elements:
https://github.com/saadeghi/daisyui/blob/master/src/components/unstyled/mockup.css
https://github.com/saadeghi/daisyui/blob/master/src/components/style

[2021-08-29 07:28] #166 closed

[2021-08-29 08:17] Aravin commented on #166
What is the difference between styled and unstyled @saadeghi?

[2021-08-29 08:27] saadeghi commented on #166
@Aravin
`unstyled` includes the layout and positioning of components.
`styled` includes the design decisions such as colors and spacing.

[2021-08-29 08:28] Aravin commented on #166
Got it. @saadeghi

[2021-08-29 18:02] devspectre91 commented on #30
[code]

Check this out!

[2021-08-30 19:46] william-will-angi opened #167 "No list of supported tailwind versions"
It seems to work in both v1 and v2 Tailwind. Are both officially supported by this plugin?

[2021-08-30 20:29] saadeghi commented on #167
@william-will-angi Yes. Technically, daisyUI has no dependencies and can be used even without Tailwind CSS ([example](https://github.com/saadeghi/daisyui/tree/master/examples/vite-daisyui-notailwind)) just as a component library or with other utility-first frameworks.
daisyUI gives you the components but you also need utility classes for width, margin, flexbox, etc... Both Tailwind v1 and v2 have

[2021-08-30 20:29] #167 closed

[2021-08-31 01:38] Ammadkhalid opened #168 "Question - If I only use one theme, how can i purge rest of them when generating bundle for production"
Hi,

Is it possible to remove rest of the other theme and its css? i'm using daisyui in my nuxt.js project with tailwind.

Thank you!

[2021-08-31 03:18] saadeghi commented on #168
@Ammadkhalid Yes. See config docs: https://daisyui.com/docs/config
[code]
Let me know if you have any questions.

[2021-08-31 03:18] #168 closed

[2021-08-31 08:14] sidney61498 opened #169 "How do i change the width of the modal?"

[2021-08-31 08:17] saadeghi commented on #169
@sidney61498
Try adding a `max-w-full` and your width class
[code]
[code]

[2021-08-31 08:17] #169 closed

[2021-08-31 17:27] goodbeysr opened #170 "Typography not working as intended"
I couldn't make typography work after following these steps:

1. integrating `@tailwindcss/typography`
2. add `daisyui` plugin after 1.

this one is rendering h1 with light theme
![image](https://user-images.githubusercontent.com/22368199/131548256-a16e0d40-242d-4b05-bc43-fd51b188a22e.png)

and this one in dark mode
![image](https://user-images.githubusercontent.com/22368199/131548343-12e4c57f-8b4

[2021-09-01 00:37] Zegoverno opened #171 "twind installation"
https://twind.dev/

nice option and aligned with the goal of daisyui and web components I think

[2021-09-01 08:42] sidney61498 opened #172 "Daisyui tooltips showing when hovered where the tooltip should be."
In the documentation it doesn't happen but when I copy the code from the documentation to my code when I hover where the tooltip should be the tooltip shows.

[2021-09-01 09:42] sambarfoot commented on #159
Thank you

[2021-09-02 01:22] Akhsanfr opened #173 "Custom color on secondary-focus not work"
I wanted to customize the secondary color and it didn't work. The resulting color is incorrect. That's what happened, for example in the component button, the secondary-focus took the color reference from the neutral-focus.
This also occurs in accent colors but not in primary and neutral. For primary and neutral, it still works as it should

[2021-09-02 04:57] saadeghi commented on #173
@Akhsanfr Can you make a sample GitHub repo (or Codepen/Tailwind Play page) so I can reproduce this issue?

[2021-09-02 07:14] amitjindal opened #174 "Question: How to customize heights and widths across the whole package"
Hi,
I came across this project and instantly loved this. Felt like tailwind finally became more organized for me.
Thank you for this hard work.

**Problem**
I have been trying to rebuild some of the tailwind UI designs in daisyui for apply to a project.
The problem I am facing is with spacing and sizes. At places tailwind-ui uses h-8/w-8 whereas daisy-ui is using a different size like h-12/w-12 in

[2021-09-02 14:32] seanodotcom opened #175 "Footer component not styling correctly"
Trying to replicate the <a href="https://daisyui.com/components/footer/" class="underline">Daisy UI footer</a>, specifically the simple "footer with copyright text and social icons", but the flex/grid styling does not match the docs, either in testing or on Codepen - each &lt;div&gt; gets kicked to a new line.

Codepen demo, copy/pasted from docs with no alterations: https://codepen.io/seanodotcom

[2021-09-02 17:30] saadeghi commented on #174
@amitjindal Thanks.
Yes there are fixed sizes for [unstyled buttons](https://github.com/saadeghi/daisyui/blob/master/src/utilities/unstyled/button.css) so they will apply to buttons even if we use [`styled:false` config](https://daisyui.com/docs/config).
According to this issue, I think that was a wrong decision from me and I had to disable default sizes for [`unstyled` mode](https://daisyui.com/d

[2021-09-02 17:47] amitjindal commented on #174
@saadeghi Thanks for your reply.

Sorry I am very new to this so this might be wrong.

I tried with `styled:false` also but the size was still there so currently I am using the default style customized. This is my config.

Perhaps that could be a css-variable that can be overridden?

[code]

In case the colors don't make sense, I define a primary and secondary color in my tailwind config so that t

[2021-09-03 01:45] tom-acceleratecompliance opened #176 "Potential to have more control over dark mode."
Hi!
Not sure how possible this would be, but it would be fantastic to be able to have more control over what gets automatically switched to when the system changes to dark mode.

My understanding is currently, if any theme with the name 'dark' it will be swapped to when the browser goes dark.

However, in a situation where we have three seperate branded themes which we route users to based on thei

[2021-09-03 03:45] amitjindal commented on #174
Maybe we need some sort of a scaling factor. Mostly form components are consistent in height for a particular template.

If as a user I had a choice to specify that in config, that would solve it.

[2021-09-03 05:19] saadeghi commented on #176
@tom-acceleratecompliance You're right.
This feature will be added on the next major release.

( Related issue https://github.com/saadeghi/daisyui/issues/135 )

[2021-09-03 05:23] saadeghi commented on #174
@amitjindal actually I'm thinking about completely disable button's fixed sizes when config is `styled:false` because those sizes are design decisions.
Is that okay?

[2021-09-03 05:48] amitjindal commented on #174
Hmm.. So lets think about that.

Yes when `styled:false` it should be disabled as you correctly pointed out, its a design decision.
However after doing that all users who are depending on this behavior (styled:false) will see their code break.
You might need to provide backward compatibility. Either by a switch or a configurable default variable like `--component-height`.

Now for styled elements,

[2021-09-03 07:42] Hugo01 opened #177 "Question: Why does daisyui doesn't not add into "bundle" in production but tailwind does?"
I'm building a lib which uses Vite/Vue3 and Tailwind with Daisy
The problem is: When I use "yarn build", while on production all the classes from tailwind works but none of the classes of daisy works, it didn't export the classes from daisyui
DIST directory outputs a ES,UMD module and a style.css which does not contain any of the daisyui classes

Here's my tailwind.config
[code]

Here's my index.c

[2021-09-03 09:36] ctwhome opened #178 "not working with windi css"
hi!

I couldn't make it work with windicss and 'nuxt-windicss'

![](https://user-images.githubusercontent.com/4195550/131982855-2b976682-5e42-430c-a4a5-f83858cd504c.png)

Sometimes also complains about postcss

![](https://user-images.githubusercontent.com/4195550/131984474-99b3c3a1-5d31-4806-8ede-3f6873c8734d.png)

[2021-09-03 09:46] ctwhome commented on #178
related issue https://github.com/windicss/nuxt-windicss-module/issues/113

[2021-09-03 09:49] saadeghi commented on #178
@ctwhome Can you please make an example repo so I can reproduce this?
I'm not sure but this looks like a problem from Windi CSS, not daisyUI.
daisyUI is essentially just a [collection of class names](https://unpkg.com/daisyui@1.14.0/dist/styled.js) 🤷‍♂️

[2021-09-03 10:02] ctwhome commented on #178
yes, thank you for taking a look at it 

[https://github.com/ctwhome/windi-daisyui](https://github.com/ctwhome/windi-daisyui)

It seems that some daisyui styles are not being applied either

[2021-09-03 10:27] saadeghi commented on #177
@Hugo01 Can you please make an example repo so I can reproduce this?

[2021-09-03 12:40] saadeghi commented on #178
@ctwhome Purge list is not targetting the `.vue` files: https://github.com/ctwhome/windi-daisyui/blob/master/windi.config.js
I didn't get any errors but `btn` had no style.
So I made this change and it worked:
[code]

[2021-09-03 12:40] #178 closed

[2021-09-03 12:48] saadeghi commented on #174
@amitjindal Using a variable looks interesting but not all components are sharing the same values.
`btn-md` height is `h-12`
`input-md` height is `h-12`
`tab-md` height is `h-8`
`checkbox-md` height is `h-6`
`badge-md` height is `h-5`
etc...
The reason is they all come in 4 sizes but a medium button shouldn't be the same size as a medium checkbox.

[2021-09-03 12:55] amitjindal commented on #174
@saadeghi Sure. So we will need to create multiple variables. Probably what you are suggesting or these:

[code]

[2021-09-03 12:57] DanDev95 opened #179 "How to properly close modal"
When clicking close, the modal is just set to hidden. When opening again, it still has it's old values you typed in before closing it. I have a component which has to have its own modal, but right now it inherits the last input from modals that have been opened in other instances of the component.

[2021-09-03 17:53] Hugo01 commented on #177
Thanks for the quick answer, i managed to get it working, vite wasn't re-creating the style.css, I just cleaned the yarn cache and it worked
Right now I have another question, in my situation I have 2 projects, both using DaisyUi, one main project and another one that actually work as a library

1. **Project1** (main project) has its own DaisyUi theme with custom colors and everything, so if i cal

[2021-09-03 18:30] saadeghi commented on #177
@Hugo01 You can use [Tailwind's prefix](https://tailwindcss.com/docs/configuration#prefix) and every class name of that build will only work with your prefix. However it applies to *every* utility class from tailwind (like `tw-w-10`) as well as daisyUI classes (like `tw-btn`)

[2021-09-03 19:24] Hugo01 commented on #177
@saadeghi Thanks! but it didn't work, I added the prefix but still when I import the CSS from the lib on the main project `import "dist/mylib/style.css` (note that the style.css ONLY contains classes with the prefixes, I checked that) it seems that all classes are somehow overwritten, for instance, "bg-neutral" that used to be blue is now grey, it looks like it is applying the default theme someho

[2021-09-03 20:25] Hugo01 commented on #177
Here's the **Project1**: (the main project that imports the lib, you can see that on the package.json) https://gitlab.com/hugo6467/project1/-/tree/master (Just run yarn install and yarn dev)

Here's the **Lib**: https://gitlab.com/hugo6467/amazing-map/-/tree/develop (Run yarn install and yarn dev to see what the colours should be, you can run)

To test the changes you should probably run `yarn lin

[2021-09-03 21:37] khoivan88 opened #180 "border for different avatar style such as hexagon"
Hi, again, thank you for this project and keep updating it. I have been using it for a while now. I know this might not be easy but would you mind considering adding avatar with circle style for hexagon and other Mask shapes?

Thank you very much!

[2021-09-03 22:14] saadeghi commented on #180
@khoivan88 It's not possible to have a visible border when we use a css mask, because the mask crops anything outside of shape and border is outside of the shape;
***but*** we can get a similar result by nesting two masks: https://play.tailwindcss.com/NL5SRDnqkx
let me know if you have any questions

[2021-09-03 22:14] #180 closed

[2021-09-03 22:45] saadeghi commented on #179
I think you need some javascript to reset the form: https://play.tailwindcss.com/Z2vcj1Qwod

Let me know if you have any questions

[2021-09-03 22:45] #179 closed

[2021-09-03 23:02] khoivan88 commented on #180
@saadeghi  That is so clever, thank you so much!!

[2021-09-03 23:07] khoivan88 opened #181 "image in 'card' cannot have control on the size"
Hi, sorry for another question, I was trying to control the size of image inside a card, however, regardless of where I put `w-56 max-w-md`, the size of the image seems to always 100% the image size? I used the Chrome inspection and it seems that the card default is always 100% and it overrides other classes

Maybe I did something wrong?

Example:

[code]

[2021-09-04 00:25] DanDev95 opened #182 "Add password input"
Please add a password input, as it does not already exist.

[2021-09-04 00:34] Hugo01 commented on #182
Just use type "password" on the native input html tag
[code]

[2021-09-04 00:42] saadeghi commented on #181
Related to https://github.com/saadeghi/daisyui/issues/30

[2021-09-04 18:48] devopg opened #183 "Add sizing for component stats"
Add sizing for component stats can apply to single stat or one time for group

stat
stat-xs
stat-sm
stat-md
stat-lg

like this:

![image](https://user-images.githubusercontent.com/61819835/132105338-fbbefdb3-899f-426a-a4c1-d0c7971ed3fa.png)

[2021-09-04 18:53] devopg opened #184 "Allow create badge with image"
Allow create badge with image without padding and round with 1 side  (watch badge №3)
![image](https://user-images.githubusercontent.com/61819835/132105139-178635a3-71e1-49c6-a61e-d9060dc90730.png)

[2021-09-05 08:50] DanDev95 opened #185 "Modal opens another modal"
I have 2 different modals in my code, they have different ids. When I open one of them, it automatically opens the other too. Is this a bug in the library?

[2021-09-05 08:52] DanDev95 commented on #185
Here is a video showing it https://streamable.com/9t5238

[2021-09-05 10:12] saadeghi commented on #185
@DanDev95 I see... this happens when all modals are siblings 🤦‍♂️
I will fix this on next update. Until then, you can put each modal inside a div to isolate them from others: https://play.tailwindcss.com/71B7rdeaX0

[2021-09-05 10:16] saadeghi commented on #182
As @Hugo01 mentioned, you can use `type="password"`.
I don't think a password input needs any specific style 🤷‍♂️

[2021-09-05 10:16] #182 closed

[2021-09-05 13:21] devopg commented on #184
or it will be 'TAG' component?

is this up-to-date information?
![image](https://user-images.githubusercontent.com/61819835/132128445-1a8dd294-bd07-457b-930d-93d30f1b39c6.png)

[2021-09-05 23:17] ExordiumX opened #186 "Add skeleton loader"
A nice addition to this ui kit would be a skeleton loader, such as this one https://vuetifyjs.com/en/components/skeleton-loaders/#usage

[2021-09-05 23:39] Hugo01 commented on #186
Would be nice but tailwind already has one that kinda works
https://tailwindcss.com/docs/animation
Checkout the "pulse" animation, could be use as skeleton loader

[2021-09-05 23:43] Hugo01 commented on #177
A little update.
Still haven't found a solution for this
The "workaround" I'm using for now is just don't import the style from the lib and let the entire application on the same "theme"

[2021-09-06 01:46] Hugo01 commented on #177
@saadeghi
Hey! I think I've found the source of the problem
When building as library mode, "style.css" generated by vite uses for example: "**AM-btn-primary**" as "**background-color:hsla(var(--p)/var(--tw-bg-opacity,1))**" which is pretty much the same as regular **btn-primary** that's why even using prefixes it doesn't change anything
![image](https://user-images.githubusercontent.com/8092834/13

[2021-09-06 08:58] devopg commented on #186
i think about skeleton without code
like this:
`<div class="w-4 h-15 skeleton-type-1"></div>`
and you receive:
![image](https://user-images.githubusercontent.com/61819835/132189612-a27e5189-5ed3-44e4-b318-be74950de7a2.png)

[2021-09-06 13:52] colorninja opened #187 "Badge inconsistency when using success, error, warning and info"
Big thanks to you Pouya and to all contributors for this amazing component set!

When using `badge-error`, some of our users find it difficult to read the number off the badge. This is because the colour of the number is the error colour and the background has opacity. For example (primary #2266B1, error: #ff0000):
![image](https://user-images.githubusercontent.com/32983864/132227002-4842da77-9787

[2021-09-06 14:23] saadeghi commented on #186
@Hugo01 That would be cool but I think there's a high chance that the real layout don't match one of these 👀

[2021-09-06 14:36] saadeghi commented on #187
@colorninja You're right. Those four state colors need separate color values for text and background. however, I'm trying to write a script to automatically pick black/white based on contrast and readability of the color. this way, a red `badge-error` would have a red background and white text (not red text on transparent red background)
This idea is for daisyUI `v2.0` and I need more research to

[2021-09-06 15:39] colorninja commented on #187
You should try https://app.contrast-finder.org/. The source code is on GitHub. Bonus points if the ratio is over 4.5 for being WCAG compliant.

Although it would be good if users can still explicitly set the colour when defining themes.

[2021-09-06 20:15] wpea opened #188 "Custom colors"
I have this custom colors for the daisy ui cyberpunk theme, the problem is where does this go in my tailwind.config.js file?

`module.exports = {
  purge: [
     './resources/**/*.blade.php',
     './resources/**/*.js',
     './resources/**/*.vue',
   ],
  darkMode: false, // or 'media' or 'class'
    theme: {
        extend: {
    },
    },

  variants: {
    extend: {},
  },
    plugins: [

[2021-09-06 20:41] saadeghi commented on #188
@wpea See this pages:
- https://daisyui.com/docs/config
- https://daisyui.com/core/colors

There are examples for using themes and adding custom themes.

Let me know if you have any questions

[2021-09-06 20:41] #188 closed

[2021-09-08 07:16] RegalOctopus opened #189 "btn-outline not working properly"
Hi, I've come across a strange problem.
When I was trying to create a button I noticed that I cannot create a btn-outline style using `@apply` like so:
![Screenshot_2021-09-08-19_447x61](https://user-images.githubusercontent.com/32423204/132462505-5b13cc9c-38a8-4c81-9a15-8f5c46d43aa7.png)
what I expected to happen was that the "green accent" button would behave the same way as "green_accent2"
the

[2021-09-08 09:21] saadeghi commented on #189
@RegalOctopus I wish I could fix this on my end but unfortunately this is how `@apply` works.
When we use
[code]
styles apply in exact order as defined in plugin source but when we put classes in `@apply`:
[code]
it won't use the correct order.
I suggest using daisyUI classes directly inside your HTML.
Yes, one class name is cleaner than 3 class names in HTML but I guess `@apply` won't work as int

[2021-09-08 09:21] #189 closed

[2021-09-08 18:42] saadeghi commented on #177
@Hugo01 So, the problem is CSS variables with the same name?
Isn't it better to use one tailwind build with two [daisyUI themes](https://daisyui.com/docs/default-themes)? Because you can use multiple themes in different parts of a page.
Example:
[code]

[2021-09-09 22:11] mariojgt opened #190 "Purge css."
Hi Guys How i can purge the tailwind css without losing for example the dark theme ?, thanks.

[2021-09-10 04:39] saadeghi commented on #190
@mariojgt see this page:
`If you're not using Tailwind JIT` section
https://daisyui.com/docs/default-themes

[2021-09-10 04:39] #190 closed

[2021-09-10 07:03] DanDev95 opened #191 "Change collapse height"
Is there any way to change the closed collapse height?

[2021-09-10 07:04] mariojgt commented on #190
Thank you very much.

[2021-09-10 07:57] pietz opened #192 "Feature Request: Vertical Steps"
Hey Team,

thanks for developing such a fantastic UI library. It has been a joy to use.

For a current project I need to visualize a long series of steps that all have titles (20+ chars) and therefore don't nicely fit in the horizontal steps component. I think something like a vertical version of that would be a great addition to daisyui.

What do you think?

[2021-09-11 17:45] tylerjlawson commented on #170
The colors from @tailwindcss/typography are overriding the theme from daisyui. This would be easily avoided if there was a nice way to use the typography plugin without it's color styles.

[2021-09-11 19:23] kvetoslavnovak commented on #40
This is just to confirm that the dropdown stays active using oPad, iPhone and there seems to be no way to close it. Even after selection.

[2021-09-11 21:44] ofir-o commented on #192
I agree with Paul that this would be a great addition to daisyUI.

I too have needed vertical steps, and also a feature that would let me create "splits", although I'm not sure how complicated that would be to implement :)

Something like this:

![image](https://user-images.githubusercontent.com/25366713/132962292-f7eace7e-c52a-481c-8090-09e393f77284.png)

[2021-09-11 22:14] saadeghi commented on #40
@kvetoslavnovak can you please open a new issue for this?

[2021-09-11 22:19] saadeghi commented on #192
@ofir-o well, this wouldn't be easy 😅
What's the use case? A git branch?

[2021-09-11 22:22] saadeghi commented on #191
Currently the only way is some custom CSS
You can see the current style here: https://github.com/saadeghi/daisyui/blob/master/src/components/styled/collapse.css

Please let me know if you have any questions

[2021-09-11 22:22] #191 closed

[2021-09-11 22:25] saadeghi commented on #184
@devopg I'm not sure how to generally handle the padding of the badge for all these scenarios:
- only text
- text and image with no padding
- text and icon with padding

Any suggestions?

[2021-09-11 22:26] saadeghi commented on #177
Feel free to reopen this issue if above solution doesn't work for you or if you have any questions

[2021-09-11 22:26] #177 closed

[2021-09-11 22:27] saadeghi commented on #173
Feel free to reopen this issue if the problem still exists or of you have any questions

[2021-09-11 22:27] #173 closed

[2021-09-11 22:29] saadeghi commented on #172
@sidney61498 can you please make a sample GitHub repo so I can reproduce this bug?

[2021-09-11 22:30] saadeghi commented on #170
@goodbeysr can you please make an example GitHub repo so I can reproduce this bug?

[2021-09-12 00:01] tom-acceleratecompliance commented on #186
Just to add a +1 - we'd have a real use for these types of components as well. Often when designing a page, the actual component is rendered with data in the application, but in the design view we use a placeholder, a variety of placeholders would be perfect for this.

[2021-09-12 08:14] morteza-mortezai opened #193 "how to toggle to RTL when language switched ?"
i trying to change Direction to RTL when language switched to RTL one ,
i set Direction attribute to RTL when language switched but components mess up ,
how can it be done correctly ?

[2021-09-12 09:12] saadeghi commented on #193
@morteza-mortezai set [rtl config](https://daisyui.com/docs/config) to true and then add `dir="rtl` to body.

[2021-09-12 09:12] #193 closed

[2021-09-12 12:53] atresnjo commented on #186
That would be nice. Would be really cool to have something like skeleton-circle, skeleton-square, skeleton-progress etc

[2021-09-12 14:28] saadeghi commented on #186
Yeah, that's probably the most efficient way 🤔
- skeleton (for rectangle)
- skeleton-text
- skeleton-circle

And anything can be achieved using width/height utilities and flexbox/grid

[2021-09-12 17:36] aviditi-will opened #194 "'Colors' page in docs does not update color codes in UI based on theme change"
### Steps to Recreate:

1. Go to [the 'Colors' page in the Docs](https://daisyui.com/core/colors)
2. Update the selected theme in the top right corner ("Change Theme")
3. View the color pallet on the 'Customize' tab

### Expected Behavior:

- The colors update visually
- The color codes displayed correspond with the theme selected
- The color pickers have the correct

### Current Behavior:

- The

[2021-09-12 18:42] ofir-o commented on #192
@saadeghi Game levels with multiple options for proceeding.

I could use Mermaid.js and create a flowchart, but I like to keep my visual language the same (in this case, daisyUI's (: )

[2021-09-12 19:15] saadeghi commented on #192
@ofir-o Honestly I never seen something like this in a component library. "vertical steps" is a common UI element but when it comes to branching, there's no limit between a "step" component and a "flowchart". If you find a JS flowchart library that can be styled, you can use use daisyUI colors for it to have the same visual.

[2021-09-12 20:05] devopg commented on #184
leave everything as it is, but if the picture is so add class:

<div class="badge badge-image badge-primary">
      <img src="path">
       primary
</div>

[2021-09-12 20:35] saadeghi commented on #184
@devopg But the `<img>` could be a svg or png icon 🤔

[2021-09-13 03:56] tom-acceleratecompliance opened #195 "Is it possible to expand the palette?"
Hi again,

In tailwind directly, it's possible to add as many variants as you like for a specific color, with the ability to fall back to the default if not found.

With our usage, we've found it would be hugely valuable to add support for something like `primary-100`, `primary-200` etc, that could be defined in the theme and fall back to `primary` directly if the theme doesn't have definitions. I

[2021-09-13 07:41] morteza-mortezai opened #196 "drawer is not in correct position when direction is RTL"
when toggling to RTL , the drawer is not in its correct position .
as you see in below picture , i switched to RTL direction and drawer is not shown correct.
![image](https://user-images.githubusercontent.com/75200938/133042543-95c0b369-754d-4a03-ad2e-6809cfaa3926.png)

[2021-09-13 18:35] devopg commented on #192
i think better start "vertical" like this:
![image](https://user-images.githubusercontent.com/61819835/133138077-1edb8836-01fb-45ec-bd30-5f36bc1b2766.png)

[2021-09-14 05:17] marshallswain opened #197 "Colors not correctly auto-installed for Windicss"
The Daisy colors aren't getting auto-installed by calling `transform('daisyui')`.   As a workaround, I can do the following:

[code]

Note that I don't have o install the `colors/windi` file to get the colors to work.

I've tried to debug what's going on.  I was able to verify that the `isTailwindInstalled !== false` code  at the bottom of index.js runs.  I couldn't do any further debugging tonigh

[2021-09-14 07:07] pietz commented on #192
This is pretty much what I had in mind :) visually adapted to the UI
language of daisy.

On Mon, Sep 13, 2021, 20:35 devopg ***@***.***> wrote:

[2021-09-14 08:30] obrunsmann commented on #172
Having the same issue. This video might demonstrate it well. But it's kinda weird - I tried to created a minimal example but there it worked fine.

So I gonna try to clean up my table on the video as much as possible to find out what could cause this issue.

https://user-images.githubusercontent.com/763812/133222891-86b75bd4-c6e8-472a-ae33-01d53a389bf0.mov

Working example, similar to the video, s

[2021-09-14 10:39] saadeghi commented on #172
@obrunsmann Are you sure both repos are using the same version of daisyUI? This issue [was fixed](https://github.com/saadeghi/daisyui/commit/a9f730be710b191ad947769353949f74a839b272) in version `1.12.1`

[2021-09-14 10:45] obrunsmann commented on #172
Oh wow, shame on me. I was sure it was the latest version. Obviously, I was not right.

Working absolutely fine with the latest version. Thank you @saadeghi!

[2021-09-14 10:54] #172 closed

[2021-09-14 20:33] pooyaEst commented on #187
not related to this bug but do you have a rough idea of when V2.0 will be released ?
Daisy ui is one of the few Github repositories i frequently check for updates.

[2021-09-14 21:19] saadeghi commented on #187
@pooyaEst For version 2.0 colors, I'm trying to find the best structure to have maximum flexibility along with clean markup and efficient file size plus minimum breaking changes. So It's not just adding a few colors. I don't want to release an unthoughtful patch just to quickly fix things. Unfortunately I was super busy in the past weeks but I'll be back very soon.

[2021-09-15 07:19] nino-w4u opened #199 "Styling divider with utility classes?"
is there a utility class that allows me to style the divider? (color, thickness, etc..) ?

Or is the only way to add some css targeting the divider element?

[2021-09-15 07:32] saadeghi commented on #199
@nino-w4u divider is using `:before` and `:after`:
https://github.com/saadeghi/daisyui/blob/master/src/components/styled/divider.css
If you're using Tailwind's [`jit` mode](https://tailwindcss.com/docs/just-in-time-mode), you can use utility classes to style them.

[2021-09-15 07:32] #199 closed

[2021-09-15 15:46] DanDev95 opened #200 "Add icon button"
A nice new addition to the buttons would be an icon button that takes things like svg as its children, where it has the same animation as the other buttons, but doesn't have any surrounding box, . Something like the link button.

[2021-09-15 17:30] saadeghi commented on #200
@DanDev95 You can do this using `btn btn-square btn-ghost`. example:
https://play.tailwindcss.com/6byb93sBOe

Please let me know if you have any questions.

[2021-09-15 17:30] #200 closed

[2021-09-15 17:31] DanDev95 commented on #200
No because that still got the button box around the icon.

[2021-09-15 17:43] saadeghi commented on #200
@DanDev95 How about [this](https://play.tailwindcss.com/5yOMOMT97G)?

[2021-09-15 17:45] DanDev95 commented on #200
I've used the link button but it's too wide and tall so I can't stack multiple icon buttons close to each other.

[2021-09-15 18:15] pooyaEst commented on #187
@saadeghi didn't meant just color, i was curios about v2 and what new components might be in it.

[2021-09-15 18:42] saadeghi commented on #200
@DanDev95 I'm not sure about your layout but [here's an example](https://play.tailwindcss.com/R97V1bsGCb) with icons close to each other 🤷‍♂️

[2021-09-16 01:04] christianblandford opened #201 "Dropdown Force Close"
It doesn't seem like there's a way to force close a dropdown. I'm using a dropdown in my navbar to allow users to navigate to their profile or settings page. When the dropdown menu item is clicked, the app navigates and leaves the dropdown open.

Also, I wish there was a way to tell the dropdown to close if the button is clicked and the dropdown is already open. I guess you could call this togglin

[2021-09-16 01:11] christianblandford commented on #201
Here's a quick hack in React to get it working in a pinch if anyone else has this problem:

`const [menuOpen, setMenuOpen] = useState(false)`

`<button className="btn btn-sm btn-square btn-ghost" onClick={() => setMenuOpen(!menuOpen)}>
          <DotsHorizontalIcon className="h-5 w-5 text-base-content dark:text-gray-100" />
        </button>

        {menuOpen && (
          <div class="dropdown d

[2021-09-17 02:41] ChapmanCheng opened #202 "Show how to modify Modal trigger by state changed"
I'd like to suggest at the docs: [modal](https://daisyui.com/components/modal)
show user how to trigger the the opening of the modal manually, e.g. I'm using React's state change to open the modal, not `<a>` or `<input type="checkbox"/>`

It's just this part:
[code]

thanks

[2021-09-17 04:51] Colo-Codes commented on #113
I managed to solve this in a different way.

I used the `fixed`, `h-screen`, `w-full`, and `z-20` on the `drawer` (I got rid of the `drawer-content` `div` because it was messing up the layout of my components.

In this way, the drawer remains as an independent entity from my content, which is what I was looking for.

`
import { useState } from 'react';

const HamburgerMenu = props => {
    const [

[2021-09-17 14:33] saadeghi commented on #195
@tom-acceleratecompliance Currently there's no easy way to do this (you have to add all possible utility classes for all custom colors manually). But you can always use Tailwind colors anywhere.
I believe 2 shades of primary color is a common practice in a design system. some design systems add a wider range of shades but I don't find that practical in a real product.

[2021-09-17 14:33] #195 closed

[2021-09-17 14:48] saadeghi commented on #201
@christianblandford daisyUI modal uses `:focus` to show/hide the dropdown. When content is focused, the dropdown stays open. when it loses the focus, dropdown gets closed.
To close the dropdown on a SPA when a link is clicked (you want to change page content but dropdown is still focused), you can use Javascript to remove the focus: https://play.tailwindcss.com/sLI0mVhaZ3

[2021-09-17 14:48] #201 closed

[2021-09-17 14:51] saadeghi commented on #202
@ChapmanCheng There's a utility class as mentioned [in the docs](https://daisyui.com/components/modal/):
`modal-open`: Add/remove this class to open/close the modal using JS

[2021-09-17 14:51] #202 closed

[2021-09-17 15:00] saadeghi commented on #197
Thanks for the workaround @marshallswain 👍
Honestly Windi has been a huge problem for me. Their `transform ` API is super-buggy and never works as intended to transform plugins 🥲  I'm so tired of opening new issues there...

If this workaround does the job, I can replace this in daisyUI docs 🤷‍♂️

[2021-09-17 15:51] RobertJGabriel opened #203 "Suggestion: Colorblind theme (With a platte included)"
Hey,

Been using this for Helperbird.com and its been amazing.

Here is some greate plattes

https://davidmathlogic.com/colorblind/#%23D81B60-%231E88E5-%23FFC107-%23004D40

Let me know if you need any help.

[2021-09-17 20:46] devopg opened #204 "Suggestion of improvement indicator !?"
indicator on little object is okey:
![image](https://user-images.githubusercontent.com/61819835/133851021-823e1df5-5876-45cf-986a-622f8f751e20.png)
but on big avatar we have indicator out of avatar:
![image](https://user-images.githubusercontent.com/61819835/133851180-847c023c-45c5-42ad-b7ee-48ecfe3f9611.png)

i think better will be if
1) indicator always be in
2) indicator size be proportionally

[2021-09-17 21:44] SupunSam opened #205 "Component Not found"
Hi, I am using daisyui for my laravel app and it works fine or that's what I thought. Whenever I use something with components as below chrome console throws an error. I tried to use a Carousal for my app.

`<a href="/components/carousel#item1" class="btn btn-xs btn-circle">1</a>`

Saying 404 it's not found. So I believe these components should be in my components folder. Right?

I followed the do

[2021-09-17 21:54] saadeghi commented on #205
@SupunSam that's just demo URL. If you're using that carousel example, you just need the anchor link like this:
[code]

Let me know if you have any questions

[2021-09-17 21:54] #205 closed

[2021-09-17 21:56] SupunSam commented on #205
Oh, how stupid of me. Yes of course. Thanks. Got it.

[2021-09-17 22:00] saadeghi commented on #204
@devopg you're right and that definitely looks better.
The problem is that image can be any size and I couldn't come up with a positioning for the indicator that always touch the circle 🤷‍♂️

[2021-09-18 00:47] ehaughee opened #206 "Build error using Pheonix and TailwindCSS: "SassError: Function hsla is missing argument $saturation.""
I am trying to use DaisyUI with TailwindCSS and the Elixir web framework, [Phoenix](https://phoenixframework.org/).  I followed [this guide](https://experimentingwithcode.com/using-tailwind-in-phoenix/) to setup TailwindCSS in my application.  TailwindCSS is working fine.  However, when I add `daisyui` to the plugins, I receive the following error.  I assume I'm doing something wrong but hell if I

[2021-09-18 04:39] saadeghi commented on #206
@ehaughee this `hsla(var(--b1)/var(--tw-bg-opacity,1))` is valid CSS and Sass should not have problems with that 🤔
Can you try webpack's `style-loader` instead of sass loader? Because I don't think Sass is needed when there's Postcss [This webpack config](https://github.com/saadeghi/daisyui/blob/master/examples/webpack-postcss/webpack.config.js) may help

[2021-09-18 05:26] marshallswain commented on #197
This has been my experience as well.  Their plug-in API is great, but is buggy when transforming tailwind-intended plugins.

I intend to explore the components more this weekend to see what doesn't work, but initial support is looking good with this workaround.

[2021-09-18 20:06] ehaughee commented on #206
@saadeghi Thanks for the quick reply.  I changed my Webpack CSS module to match that of the linked `webpack.config.js` and removed MiniCssExtractPlugin and then I got this error:

[code]

After looking around on StackOverflow for a bit, I saw a suggestion to downgrade`style-loader` to 2.x so I did that and now have no build issues.  However, the DaisyUI styles don't seem to be getting imported (no

[2021-09-18 21:47] pooyaEst opened #207 "Suggestion : Search box with floating results"
A search box with floating on top suggestions box just like Github, google, Stackoverflow and many others.
i dont know if it fits into a new component or just a demo using currently available components but it's a very much needed feature.
Thank you

[2021-09-19 11:52] saadeghi commented on #207
@pooyaEst
Using [dropdown](https://daisyui.com/components/dropdown) with [text input](https://daisyui.com/components/form/input) and [menu](https://daisyui.com/components/menu):
 https://play.tailwindcss.com/UeXWmfZ2tR

[2021-09-19 11:52] #207 closed

[2021-09-19 12:12] saadeghi commented on #206
@ehaughee I couldn't run your project because there are some ignored local dependencies.
Can you please make an isolated example repo so I can reproduce this issue?

[2021-09-19 14:42] pooyaEst commented on #207
Thank you very much. i think it's a good idea to add this to examples in website, maybe under text input.

[2021-09-20 06:24] sakkelaaksonen-siili commented on #196
Looking for a solution to this.

[2021-09-20 20:27] filipot opened #208 "Are there more icons? (svg)"
The icons used in the examples look really nice, where are they from? Do there exists any more of them?

[2021-09-20 21:09] saadeghi commented on #208
@filipot Most Icons are from https://heroicons.com/

[2021-09-20 21:09] #208 closed

[2021-09-21 08:10] kaname-png opened #209 "Angular version?"
A version for Angular would be great because DaysiUI is lightweight, and the current ones increase a little the bundle size of an Angular application, so it would be a positive point.

I would be very happy if there could be an Angular version of this great css framework.

[2021-09-21 08:15] saadeghi commented on #209
You can use daisyUI with Angular ([example](https://github.com/saadeghi/daisyui/tree/master/examples/angular))
And Tailwind should be purging unused CSS so there won't be any issues with bundle size.

[2021-09-21 08:19] kaname-png commented on #209
Yes, I understand that part but I mean in a native way, for example: instead of `<Button class="class buttons"` it should be `<Button type="primary"`.

And I also wondered if there are no problems with Drawers type components in angular.

[2021-09-21 08:25] saadeghi commented on #209
@kaname-png I don't have any plans for an Angular package myself but daisyUI is open source and MIT licensed so I would appreciate if any other developer wants to make an Angular version.

About `drawer`:
There shouldn't be a problem as far as I know because daisyUI is just CSS and the same `drawer` CSS code is working on other frameworks and environments.

[2021-09-21 08:25] #209 closed

[2021-09-22 11:59] Celant commented on #50
Hey @saadeghi! Did you manage to find an alternative way to handle this?

[2021-09-22 12:13] saadeghi commented on #50
No. The only way would be using a long list of numbers in HTML instead of using `:before`. Something like:
[code]
And that is not efficient at all 😕

[2021-09-22 16:49] deyanskiq opened #210 "Incorrect behavior of navbar menu for desktop + drawer for mobile"
<img width="1161" alt="Screenshot 2021-09-22 at 19 37 56" src="https://user-images.githubusercontent.com/11162576/134385780-43e03818-5201-439e-b4ff-773bc57e0423.png">

While trying to implement similar standard layout structure, I'm hitting the problem from the screenshot, i.e
`drawer-overlay` is supposed to cover the whole screen while right now it's covering only the drawer component.

Any sugge

[2021-09-22 17:10] saadeghi commented on #210
@deyanskiq Here's an example: https://play.tailwindcss.com/MAxwyAigeN?size=866x720

Let me know if you have any questions.

[2021-09-22 17:10] #210 closed

[2021-09-22 17:14] deyanskiq commented on #210
Thanks for the quick response!

However I want to achieve this: https://play.tailwindcss.com/WzRL4MPumw?size=866x720
The `page content` should be behind the overlay.

[2021-09-22 17:42] saadeghi commented on #210
@deyanskiq `drawer` is a wrapper for `drawer-content` and `drawer-side`. It's a grid layout. so your content [should be inside `drawer-content`](https://play.tailwindcss.com/zXuHA4PBzp?size=754x503)

[2021-09-23 06:11] deyanskiq commented on #210
Thanks, I wasn't sure this is the correct way to do it.

[2021-09-23 21:16] saadeghi commented on #170
@goodbeysr I'm closing this because I couldn't reproduce this issue.
Feel free to re-open it with an example repo link.

[2021-09-23 21:16] #170 closed

[2021-09-23 22:14] #160 closed

[2021-09-23 22:14] #185 closed

[2021-09-23 22:14] #175 closed

[2021-09-23 22:14] #196 closed

[2021-09-23 22:22] saadeghi commented on #175
@seanodotcom Fixed on version `1.14.1`: https://codepen.io/saadeghi/pen/abwaVYd
Use the new markup from examples: https://daisyui.com/components/footer/

Let me know if there was an issue

[2021-09-23 22:29] saadeghi commented on #206
I'm closing this for now. Feel free to reopen it with a link to an isolated example repo so I can reproduce this.

[2021-09-23 22:29] #206 closed

[2021-09-24 11:00] max-programming opened #211 "Use Just-In-Time mode for better performance"
I loved this project! I just noticed the website was a little slow on an old machine. So for performance improvements, just use the [Just-In-Time](https://tailwindcss.com/docs/just-in-time-mode) mode in TailwindCSS.

[code]

[2021-09-24 11:13] saadeghi commented on #211
@max-programming you mean running the daisyui.com Nuxt website with `npm run dev` is slow?

[2021-09-24 11:15] max-programming commented on #211
I didn't know it;'s built with nuxt tho. I mean that daisyui.com main website is a little slower on an old machine. I am not running the project locally. If you are using JIT already then close this issue coz I could not find the tailwind config for the site.

[2021-09-24 14:22] saadeghi commented on #211
@max-programming JIT has nothing to do with site's loading speed for end-user.
It just provides faster build time for development and production builds by generating class names on-demand (instead of generating all class names and then purging unused style for production build)
If you're experiencing slow homepage on [daisyui.com](https://daisyui.com/) it's probably because of that large `glass` b

[2021-09-24 14:22] #211 closed

[2021-09-24 15:27] max-programming commented on #211
Got it!

[2021-09-24 18:34] morteza-mortezai commented on #196
is this bug fixed ?

[2021-09-24 18:54] saadeghi commented on #196
@morteza-mortezai Yes. update to latest version (`1.14.1`)

[2021-09-25 10:56] allaghi opened #212 "Use it with Nuxtjs"
Hi everyone,
Have a nice day,
Firstly, I would really thank you for this library , it saves my days during work.
Secondly, I would like to know how can I use it with nuxt js in a proper way. if is there any specific requirement ?

Thanks in advance.

[2021-09-25 11:50] saadeghi commented on #212
@allaghi Here's a guide for adding Tailwind CSS to Nuxt: [this](https://tailwindcss.com/docs/guides/nuxtjs) or [this](https://tailwindcss.nuxtjs.org/)
Then you can install and add daisyUI [like this](https://daisyui.com/docs/install)

Let me know if you have any questions

[2021-09-25 11:50] #212 closed

[2021-09-25 11:51] pietz opened #213 "Unexpected Behaviour: Modal + Drawer"
The behaviour of the modal and drawer components don't behave as I would expect when you use them in combination:

- If the two overlap because the modal is so wide, it will be hidden underneath the drawer. I think an active modal should be on top of everything else.
- The drawer is not greyed out like the rest of the UI when a modal is open. When a modal is open it probably should take the entire

[2021-09-25 12:09] saadeghi commented on #213
@pietz Take a look at this example: https://play.tailwindcss.com/rzAPde1JUj
Let me know if you have any questions

[2021-09-25 12:09] #213 closed

[2021-09-25 13:30] BuddiesTV opened #214 "Remove Background"
Hello, i'm using daisyui for my alt:V Gamemode (GTA 5 Multiplayer Mod), to create better buttons and much more. I'm using Vue & i want to remove the background Color, how i can do it?

[2021-09-25 13:50] tom-acceleratecompliance commented on #214
Are you looking to remove it at the theme level, or at an individual button?
With tailwind, adding the `bg-transparent` class should get rid of the background color.

[2021-09-25 16:22] BuddiesTV commented on #214
Where i have to add bg-transparent?

[2021-09-25 16:39] saadeghi commented on #214
@BuddiesTV You can add `bg-transparent` to your root element (`<html>`)
Or you can add this to your CSS file:
[code]
Or you can completely disable the base style [from config](https://daisyui.com/docs/config)

[2021-09-25 16:39] #214 closed

[2021-09-25 22:25] devopg commented on #204
all simple ?

[code]

![image](https://user-images.githubusercontent.com/61819835/134787359-024fe7d8-140f-4ead-ba8b-0b9f549e71d1.png)

[2021-09-26 04:20] Phenomen opened #215 "Question: How to close dropdown when some element is clicked?"
I use dropdown component for a mobile navigation and I want it to close when a `<li>` element is clicked.

[2021-09-26 04:23] Phenomen commented on #215
Sorry, I found an answer here: https://github.com/saadeghi/daisyui/issues/201

[2021-09-26 04:23] #215 closed

[2021-09-26 12:11] brocococonut opened #216 ".menu > li breaks .hidden"
As the title says, when you're using a `.menu`, any subsequent `li` tags don't support the tailwind `.hidden` class due to specificity rules
![image](https://user-images.githubusercontent.com/6368283/134807432-2e236c0b-46a0-4ae6-abba-76f81694281f.png)

[2021-09-27 09:29] samuelstroschein opened #217 "Suggestion: semantic html elements"
DaisyUI would greatly improve the readability of code if the "component" classes would be HTML tags that can be styled with the utility classes.

**Short example**:
[code]

**Long example Instead of this**:
[code]

**This**
[code]

TL;DR on web components  from [shoelace](https://shoelace.style/)

[2021-09-27 10:00] saadeghi commented on #217
@samuelstroschein
Thanks for the detailed comment.
There's one big problem about this approach:
When there's a `.btn` class, we can use that class everywhere: `<a class="btn">`, `<button class="btn">`, `<label class="btn">`,... but when we use `<btn>` it's useless.

Tailwind CSS provides **utility classes** and daisyUI adds **component classes** on top. So we're still using a **utility first** sys

[2021-09-27 10:00] #217 closed

[2021-09-27 10:07] samuelstroschein commented on #217
Adding default styling to semantic HTML tags does not entail removing the component classes. I meant that DaisyUI should apply (maybe opt-in) the component classes by default to those HTML elements.

[code]

[2021-09-27 10:30] saadeghi commented on #217
This doubles the size of CSS files (in both source and package) but I'm not sure what problem is being fixed here 🤷‍♂️

[2021-09-27 13:05] samuelstroschein commented on #217
Why would it require duplicative CSS files? TailwindCSS allows [adding base styles](https://tailwindcss.com/docs/adding-base-styles) to HTML elements. The only additional step that is required is defining the custom HTML element tags such as `<collapse-title></collapse-title>` etc but they are more less just `divs` with a semantic name.

It's a code readability enhancement. Instead of scaffolding

[2021-09-27 23:45] ehaughee commented on #206
I think the only ignored local deps are Elixir and Erlang which I can't represent as part of the deps as they're compilers/VMs.  I'm fine with leaving this closed for now until I can do some more digging though.

[2021-09-27 23:50] saadeghi commented on #206
I'd be happy to help, but I don't think this is a bug from daisyUI.
Because daisyUI is essentially a collection of CSS styles being added to Tailwind CSS 🤷‍♂️

[2021-09-28 17:52] rohaanhamid opened #218 "Is it possible to override component styles globally?"
I was looking to override the toggle switch and use my new design everywhere in the application through the "toggle" class. Is that possible?

[2021-09-28 19:28] PatrickWhitehouse opened #219 "Spelling mistake"
Not an actual issue but noticed a trailing ` on the card component classes.

![image](https://user-images.githubusercontent.com/15248507/135153098-21f5a2fa-baea-454a-801a-ace06d67007e.png)

[2021-09-28 22:08] #219 closed

[2021-09-29 02:38] rohaanhamid commented on #218
Thanks alot! This works.

If would be nice if you can add this to the documentation too.

[2021-09-29 22:45] devopg commented on #184
if see badge-image
then padding: 0

[2021-09-29 22:52] #216 closed

[2021-09-29 22:52] #204 closed

[2021-09-29 22:55] saadeghi commented on #171
@Zegoverno Currently we can use twind and daisyUI from CDN ([example](https://github.com/saadeghi/daisyui/blob/master/examples/twind/index.html))
But we can't install daisyUI as a Tailwind plugin unless twind adds this feature ([related issue](https://github.com/tw-in-js/twind/issues/211))

[2021-09-29 22:55] #171 closed

[2021-09-30 13:15] CheezeLab opened #220 "Use Navbar inside the Draw, it should not work well"
Hi
Using Daisyui, I have a question during development.

Making the page, put Navbar component in a Drawer.
Navbar placed on top of the page,
contents in the middle,
footer placed below.

There is no problem on the desktop browser,
But on the mobile, there is a problem with scrolling.

I developed page is same homepage operation,
I recorded homapage screen scrolling.
The main page without the Draw

[2021-10-01 03:38] kaname-png opened #221 "Suggestion: SnackBar component"
I see daisyUI doesn't have snackbar component, it would be great if it did.

[2021-10-01 08:52] saadeghi commented on #221
@kaname-png Yes, this is in my to-do list but with "toast" name.
I believe a "toast" and a "snackbar" is the same thing. Right?

[2021-10-01 18:50] gringofe commented on #138
Seems like this has been fixed in windicss!

[2021-10-02 10:13] drosi94 opened #222 "bug: DaisyUI does not work with Next.js"
Hello, I would like to use DaisyUI to my nextjs pwa but I have an issue using the library. In storybook works as expected but in next.js I see this log all the time and my PWA does not load

It's a monorepo and I have created a shared package that I use daisyUI there with react components that I import to my PWA

![Screenshot 2021-10-02 at 1 11 37 PM](https://user-images.githubusercontent.com/3253

[2021-10-02 11:09] saadeghi commented on #222
@drosi94 It's hard to debug without a repo link
 But I don't think your purge config is good.
I think `purge: ['*.{js,ts,jsx,tsx}'],` will only target the files in root directory.
Use something like this (according to your files structure):
[code]

[2021-10-02 11:24] drosi94 commented on #222
You are Right

It's here https://github.com/drosi94/forest-restoration-ui

I will try to change the purge config thanks

[2021-10-02 18:45] drosi94 commented on #222
I changed the purge configuration but I got the same problem you can check it out on `feature/add-daisy` branch

[2021-10-02 21:15] saadeghi commented on #222
@drosi94 this lockfile is not correct. I'm just getting errors about a lot of missing packages after install 😐

[2021-10-02 21:29] drosi94 commented on #222
Could you retry I forgot to commit some latest changes. I'm sorry.

[2021-10-02 21:41] saadeghi commented on #222
@drosi94
[code]

[2021-10-02 21:46] saadeghi commented on #222
Also, here's an example with Next.js and daisyUI: https://github.com/saadeghi/daisyui/tree/master/examples/nextjs-daisyui-headlessui-master
I'm closing this issue because it's not a daisyUI bug.
But feel free to continue the conversation. I'll be glad to help.

[2021-10-02 21:46] #222 closed

[2021-10-03 00:19] saadeghi commented on #220
@CheezeLab Seems like it's a known bug on iOS safari when `sticky` element is inside a scrollable `fixed` element.
Fortunately the new iOS safari (iOS 15) doesn't have this bug.
A workaround I found is this:

example: https://play.tailwindcss.com/BAKdAgjbjR

Please let me know if you have any questions.

[2021-10-03 00:19] #220 closed

[2021-10-03 00:26] saadeghi commented on #138
@gaurovsoni Yes. I just tested the latest version of Windi CSS and the modal works perfectly now 🥳

[2021-10-03 01:11] drosi94 commented on #222
That's a strange error that you get, I will investigate it, thanks!!

Back in our main issue... It just takes about 5 minutes to compile the  DaisyUI css. I will check why it takes so long. Maybe some issues with the purge or the imports.

[2021-10-03 01:25] saadeghi commented on #222
@drosi94 5 minutes is not normal at all. I had a nextjs project with more than 40 pages and the whole Tailwind+daisyUI build was about 700 milliseconds.

[2021-10-03 01:29] drosi94 commented on #222
I fixed the issue, I had to make some changes to my purge config because of my setup. Now it compiles really fast!

One issue that I find out are these weird CSS variables

![Screenshot 2021-10-03 at 4 28 55 AM](https://user-images.githubusercontent.com/3253526/135736325-f7ab2796-acb5-480f-aef9-2c6d1451fd64.png)

[code]

[2021-10-03 01:37] saadeghi commented on #222
@drosi94 great 👍
[Here](https://github.com/drosi94/forest-restoration-ui/blob/e100a92ff9024727a766790446f1e522f7fbde7e/packages/pwa/tailwind.config.js#L89) you have to use hex colors. Currently only hex colors are acceptable and the hex color values automatically get converted to separate HSLA values underneath. It's different from Tailwind's internal color function.

[2021-10-03 01:41] drosi94 commented on #222
Thank you I will try it out

[2021-10-03 13:11] CheezeLab commented on #220
As you pointed out, I was in that situation. I am using ios 14.7 (I need to upgrade ios soon)
And I used sticky in navbar.

I will refer to the code you provided.
daisyui is great. Thank you very much. :)

[2021-10-03 18:55] drosi94 commented on #222
@saadeghi  Thank you for your immediate help. Whenever I have time I will try to contribute to daisyUI. It's a great library!

[2021-10-04 03:10] kaname-png commented on #221
@saadeghi Yes, they are the same. I hope you can implement it!

[2021-10-04 09:36] iamshimer opened #223 "Css not rendering with jit mode enabled"
I am trying to install daisyUI in a tailwind css project. But After i implemented that the styles of button are not rendering. After i removed "mode:"jit" line from tailwind config file. after that the styles rendered normally. Can't i use daisyUI with jit mode?. Because JIT is boosting the performance of my spp

[2021-10-04 09:47] saadeghi commented on #223
@iamshimer daisyUI works with JIT perfectly.
Can you please create a example repo so I can reproduce this issue?

[2021-10-04 10:10] iamshimer commented on #223
https://github.com/iamshimer/my-next-tailwind

[2021-10-04 10:47] saadeghi commented on #223
@iamshimer I just cloned your repo, installed dependencies and `npm run dev`. It worked without any problem.
It's weird that it's not working for you. the only problem I see is that you used `class` instead of `className` in a react project but I think Next.js handles that.

Anyway, can you try reinstalling npm or restarting your app to see if that helps? because I don't see any problem with your

[2021-10-04 10:54] iamshimer commented on #223
@saadeghi  okay i will check it once more

[2021-10-04 12:44] Psychep opened #224 "not working daisy classes"
im start a new next-js tailwind css project. i want use daisyui in my project but this classes not working.

![image](https://user-images.githubusercontent.com/42694514/135853350-0f83200d-b6bf-40f9-abb2-fee088d23693.png)
![image](https://user-images.githubusercontent.com/42694514/135853394-09d4fa3c-556c-4155-b645-da5952f4e840.png)
![image](https://user-images.githubusercontent.com/42694514/1358534

[2021-10-04 12:53] saadeghi commented on #224
@Psychep here's an example nextjs+daisyUI config: https://github.com/saadeghi/daisyui/tree/master/examples/nextjs
Can you please share an example repo with me so I can reproduce this issue?

[2021-10-04 13:05] Psychep commented on #224
now i use cdn and its working.
![image](https://user-images.githubusercontent.com/42694514/135856088-68d6e28d-0880-4b05-8bf0-adb32fdde70f.png)
here my project repo
https://github.com/Psychep/portfolio

[2021-10-04 16:00] rosnaib11 opened #225 "Is there available class for wiggle effect same as in button"
I want to have click effect on avatar same with the effect in button is there any class available

[2021-10-04 16:17] saadeghi commented on #225
@rosnaib11 no, but you can add `btn btn-circle btn-ghost` or `btn btn-circle btn-link` classes to an avatar element. It will be rounded and transparent with a button animation.

Please let me know if you have any questions

[2021-10-04 16:17] #225 closed

[2021-10-04 17:03] Pankai222 opened #226 "Interacting with carousel component with mouse"
Hey,

The carousel works fine when using swipe interaction on mobile devices, but all functionality is lost when using a mouse.
Is carousel functionality not supported on desktop, or is there something I'm missing?

[2021-10-04 17:10] Psychep commented on #224
youre right. my bad sorry. thanks for helping

[2021-10-04 17:12] saadeghi commented on #226
@Pankai222 It's just vertical scroll and it can be used with touchpad or mouse scroll. It's not a JavaScript carousel so don't expect dragging functionality with mouse.

Please let me know if you have any questions

[2021-10-04 17:12] #226 closed

[2021-10-05 02:41] Amar-Gill opened #227 "Style conflicts with @tailwindcss/forms plugin"
I am trying to use the [radio btn group example](https://daisyui.com/components/button-group) from the documentation.

I noticed the styles are off in my vue3 + vite app. A fix was to remove `@tailwindcss/forms` plugin. Is that plugin intended to be used with a component library plugin like Daisy UI? If not then I suppose I answered my own question and we can close this issue.

I included a github

[2021-10-05 02:46] saadeghi commented on #227
@Amar-Gill well... both plugins are doing the same job with form elements, So I don't think you will need both at the same time 😅

[2021-10-05 02:46] #227 closed

[2021-10-05 02:46] Amar-Gill commented on #227
ok understood! thx for clarifying =p

[2021-10-05 02:49] saadeghi commented on #223
I'm closing this because there seems to be no issues with JIT.

Feel free to reopen this issue if there's still a problem.

[2021-10-05 02:49] #223 closed

[2021-10-05 17:53] adriandelgg opened #228 "Will using this library bloat my app?"
Hi, I know that Tailwind CSS purges unused classes in production so that your app only uses what it actually needs.

If I use this library, will Tailwind do the same thing and remove all unused classes & components from their package installation?

[2021-10-05 17:58] saadeghi commented on #228
@adriandelgg Yes, if you [use daisyUI as a plugin for Tailwind](https://daisyui.com/docs/install), unused class names from both Tailwind and daisyUI will be purged.

Please let me know if you have any questions.

[2021-10-05 17:58] #228 closed

[2021-10-05 18:01] adriandelgg commented on #228
Awesome! Thank you for the quick response.

So say for example I download this library & only use the `input` class. Every single other class this package downloaded will be purged and only the `input` class will be in production?

[2021-10-05 18:33] saadeghi commented on #228
@adriandelgg I would say more than 99% of all other styles will be purged. A few unused rules won't be purged because of default purge config.

[2021-10-06 07:17] adriandelgg opened #229 "Package broke background colors on my app"
When I installed the package and added it as a plugin to my tailwind config file, it caused my background to be different colors and also changed the color of the text. I don't know why it broke

[2021-10-06 11:17] saadeghi commented on #229
@adriandelgg it's the default theme color. You can [disable the `base` config](https://daisyui.com/docs/config) if you don't want that.
Read more about [themes](https://daisyui.com/docs/default-themes) and [colors](https://daisyui.com/core/colors)

Please let me know if you have any questions

[2021-10-06 11:17] #229 closed

[2021-10-07 21:04] AndreasPB opened #230 "Glass blur on Firefox"
Is it possible to get the glass blur effect on Firefox?

Firefox
![image](https://user-images.githubusercontent.com/43907402/136461392-af9e85b5-bd5c-4a92-a238-a8fd3d180115.png)

Chrome
![image](https://user-images.githubusercontent.com/43907402/136461701-e05ded26-4af6-4af5-b883-87b3707d4ff4.png)

[2021-10-07 21:14] #230 closed, assigned to nobody

[2021-10-08 06:45] zfranco55 opened #231 "Suggestion: datepicker and group input component"
I saw that the components in question are missing and they would be useful to me.
By group input I mean to associate label and input both vertically and horizontally.
is there any hope that they will be developed?

[2021-10-08 08:50] willemmulder opened #232 "Allow the 'collapse' component to have a default-open + make collapse-arrow clickable"
We use the 'collapse' component (amongst others), which works great!

However we'd very happy with two additional features:

- Allowing for a default-open? Right now, it is always default-closed, but we actually like to have it default-open.
- Make the collapse-arrow (and plus sign) clickable when using checkbox. Right now, the 'top bar' is clickable, but the actual collapse-arrow and plus sign is

[2021-10-08 12:59] khaoniaomamuang opened #233 "Drawers not working correctly"
Using code provided on https://daisyui.com/components/

Result:
![image](https://user-images.githubusercontent.com/26197169/136561096-a2020e26-5320-4973-9e4c-4076c59a621f.png)
![image](https://user-images.githubusercontent.com/26197169/136561069-2e7acddb-256b-4d8a-9cfe-b54ceebcba1d.png)

Expecting:
![image](https://user-images.githubusercontent.com/26197169/136560586-c19d738f-ae3e-4f60-ac8e-6a2b04

[2021-10-08 13:05] #233 closed, assigned to nobody

[2021-10-08 21:27] willemmulder commented on #232
Hi @saadeghi Thanks for the response and quick action!

1. Ah makes so much sense; should have seen that myself ;-)
2. Great! Hopefully a 'pointer-events: none;' on the arrow/plus-sign might do the trick?

Thanks again, and have a good weekend for now!

[2021-10-10 02:16] birdhackor opened #234 "Dropdown won't close when click other position on iOS device."
I know the dropdown control uses `:focus` to open/close the content. When I try it on my PC/Mac, it works fine.

But when I use Safari on iOS devices, it doesn't close when I click on something other than the dropdown menu.

Take the official daisyui website for example. When I open the dropdown menu to change the theme, clicking on other words like "daisyUI Tailwind CSS Components" or other blank

[2021-10-10 03:14] birdhackor commented on #157
I'm trying to make dropdown menu close when dropdown button click again or click other area but keep dropdown menu open when click dropdown content item.

The first idea was to use a state to simply control it, but this wasn't easy because the blur event would be triggered when the user clicked on the dropdown content item and vice versa. This makes it not easy to distinguish between clicking on a

[2021-10-10 21:53] drosi94 opened #235 "Question: Twin.macro + DaisyUI"
I found out that using twin.macro with the DaisyUI plugin has some problems with the building of the application. It takes a very long time to build all the classes that DaisyUI needs.

Does anyone have used twin.macro with DaisyUI and found a solution on that? I have also started a discussion on twin.macro GitHub discussions.

Thank you!

https://github.com/ben-rogerson/twin.macro/discussions/549

[2021-10-11 01:10] saadeghi commented on #235
@drosi94 I wish I could help but this is not something I can fix on my end. daisyUI is basically a collection of CSS rules and nothing more. If there's a bug only in a Twin.macro build, it's because CSS is not getting processed correctly.

[2021-10-11 01:19] #232 closed

[2021-10-11 05:07] SkillzGamingYT commented on #233
@saadeghi (sorry for another ping)

[2021-10-11 09:35] willemmulder commented on #232
Thanks, great!

[2021-10-12 03:08] TotalLag commented on #217
I came here to request something similar as I am exploring the examples and wondered why the navigation elements are all <div>'s and why <nav> wasn't being used.

[2021-10-12 06:46] davidjr82 opened #236 "data-theme does not apply inside table elements"
In this case, the theme `lofi` is being applied to the whole html, and the `fantasy` theme to the table.

But `input checkbox` inside the table has the square bordes as in the theme `lofi`, instead of the rounded borders of the `fantasy` theme.

[code]

[2021-10-12 07:38] SkillzGamingYT opened #237 "[CDN] Responsive drawer not hiding/showing buttons correctly."
For some weird reason on my browser, the Hamburger menu still is not hiding on a large screen and the Navbar button not hiding on a small screen. This might be a tailwind issue.

![](https://user-images.githubusercontent.com/26197169/136643592-70726dcb-f6b2-4f60-91cb-232d3454da0c.png)

Code:
[code]

[2021-10-12 07:42] davidjr82 opened #238 "Question: copy theme configuration as template for own theme"
I am trying to copy the lofi theme configuration to modify it to create my own theme.

I am following this docs: [https://daisyui.com/core/colors](https://daisyui.com/core/colors)

In this docs, only colors variables can be copied (by the way, awesome to create customized config from the theme as you change it). But lofi theme has other things like the CSS variables we can see here: [https://daisy

[2021-10-12 07:55] #238 closed

[2021-10-12 09:06] aeadedoyin opened #239 "Button error variant not working with outline"
Hi, @saadeghi

Thanks so much for this tool 🎉
Was trying to create a delete button then realised the **btn-error** doesn’t work with **btn-outline**
Even tested on the daisyUI same thing. It just defaults back to the the regular "`btn btn-outline`"

My code...
[code]

DaisyUI Doc screenshot sample:
<img width="1071" alt="Screenshot 2021-10-12 at 9 57 55 AM" src="https://user-images.githubuserconte

[2021-10-12 11:06] saadeghi commented on #237
@SkillzGamingYT All you need to do is to load Tailwind CSS file after daisyUI:
[code]
component classes must come first and utility classes must come second, so we can use utility classes to customize the default style. in this example, navbar children items are `.flex` but we need to apply `.hidden` to them so it's important that utility styles come after the default style.

Please let me know if

[2021-10-12 11:22] SkillzGamingYT commented on #237
Thanks, that's fixed it.
btw maybe you should also update https://daisyui.com/docs/install/cdn.

[2021-10-12 13:35] #236 closed, assigned to saadeghi

[2021-10-12 13:35] #239 closed

[2021-10-12 13:47] MentalGear opened #240 "Modal iOS Quirks"
First off: Thank you for this great UI library to make working with tailwind easier!

I noticed when trying out the modal section on **iOS 15** that the URL Hash doesn't bring up a modal at all, and the "hidden checkbox" technique shows the modal, but the background is still scrollable (apparently Apple changed some things that made previous tricks to not work anymore).

This might be helpful on b

[2021-10-12 14:48] saadeghi commented on #240
@MentalGear Yes, I've seen a similar solution on [CSS tricks](https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/) but unfortunately all these bulletproof solutions need some JS. I'm trying to keep daisyUI JS-free as much as I can.

[2021-10-12 14:52] arnaud-lecat opened #241 "DaisyUI and Hugo"
Hi
I am trying to use DaisyUI with a Hugo web site but it does not seem to work.
I think that messages displayed in command line when processing files are embedded in the CSS file

Need help please

[2021-10-12 16:00] jarod51 commented on #241
This is this message that seems to be embedded in the start of file ! :)

"🌼 daisyUI components 1.14.3  https://github.com/saadeghi/daisyui
  ✔︎ Including:  base, components, themes[21], utilities"

[2021-10-12 17:45] #241 closed, assigned to nobody

[2021-10-13 02:37] docgonzo2015 opened #242 "daisy and macosx installing failure"
Hi!
i cant install daisyui on my mac.

`20 verbose Darwin 20.6.0
21 verbose argv "/opt/homebrew/Cellar/node@14/14.18.1/bin/node" "/opt/homebrew/opt/node@14/bin/npm" "i" "daisyui"
22 verbose node v14.18.1
23 verbose npm  v6.14.15
24 error Unexpected token , in JSON at position 693246 while parsing near '...0"
24 error         }
24 error     }
24 error },
24 error "dependencies": {
24 error ...'
25

[2021-10-13 09:11] SkillzGamingYT opened #243 "[Not a issue] Is there anyway for me to change the color of a dropdown list active?"

[2021-10-13 09:59] saadeghi commented on #243
@SkillzGamingYT You need to make sure the links on your menu can be focused. this requires the `<a>` links to have a `href` or a `tabindex`.
example: https://codepen.io/saadeghi/pen/OJjVxgr?editors=1100

please let me know if you have any questions.

[2021-10-13 13:14] #240 closed, assigned to nobody

[2021-10-13 15:45] chanthavong opened #244 "wow!!! beauty ui , can use with nuxt3? 😻"

[2021-10-13 16:53] christianblandford opened #245 "Tooltip z-Index"
Hi all,

Is there a way to adjust the z-index of just the tooltip pop up? It's important that I keep the Z-index of the children of the <div class="tooltip"> 0, but I need a z-index of 1 on the tooltip text to avoid clipping under another element on the page.

I have tried setting Z-index for .tooltip, but this obviously changed the z-index of the children too. I'm sure I'm missing something obvio

[2021-10-13 17:03] #245 closed, assigned to nobody

[2021-10-13 17:03] christianblandford commented on #245
After further investigation, this seems to be caused by something unqiuue to my app, when I set the tooltip-open class, it works fine. So something must be going on with my hover actions.